# <center>EXERCICES : tuples et tableaux (Séq. 3, Chap. 1) <br> CORRECTION</center> 
***

## Exercice 1 :
On considère la variable ``repertoire`` suivante.

In [2]:
repertoire = [('Michel', '0210101010'), ('Marjorie', '0211111111'), ('Perrine', '0212121212')]

1. Quel est le type de la variable ``repertoire``?
2. Quel est le type de la variable ``repertoire[0]``?
3. Qu'affiche l'instruction ``repertoire[1][1]`` ?
4. Quelle instruction permet d'accéder au numéro de téléphone de Michel ?
5. Quel est le type de la variable ``repertoire[2][0]``?

**Réponses:**
1. tableau (de tuples)
2. tuple (de 2 chaines de caractères)
3. '0211111111'
4. `repertoire[0][1]` (deuxième élément du premier élément du tableau)
5. chaine de caractères ('Perrine')

## Exercice 2 : Vrai / Faux
Si on définit la variable ``couleur`` par :

In [3]:
couleur = ["bleu", "vert", "rouge", "marron"]

alors:
1. L'index de ``couleur`` est 5 ?
2. L'index de ``"marron"`` est 3 ?
3. L'index de ``"vert"`` est 2 ?

**Réponses:**
1. Faux. N'a pas de sens car `couleur` est un tableau.
2. Vrai. Car c'est le 4ème élément du tableau.
3. Faux. Son index est 1.

## Exercice 3 :
1. Quel est le tableau construit par les instructions suivantes ?

In [1]:
t1 = [0]*10
for i in range(10):
    t1[i] = i
t1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Quel est le tableau construit par les instructions suivantes ?

In [2]:
t2 = [i+1 for i in range(8)]
t2

[1, 2, 3, 4, 5, 6, 7, 8]

3. Quel est le tableau construit par les instructions suivantes ?

In [3]:
t3 = [i*i for i in range(5, 10)]
t3

[25, 36, 49, 64, 81]

4. Quel est le tableau construit par les instructions suivantes ?

In [4]:
t4 = [0]*50
for i in range(len(t4)):
    t4[i] = i % 2
t4

[0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1]

## Exercice 4 :

1. Quel est le tableau construit par compréhension de la façon suivante ?

In [5]:
tab = [[j**2 for j in range(5)] for i in range(3)]
tab

[[0, 1, 4, 9, 16], [0, 1, 4, 9, 16], [0, 1, 4, 9, 16]]

2. Quel est le tableau construit par compréhension de la façon suivante ?

In [6]:
tab = [[2*i + j for j in range(2)] for i in range(4)]
tab

[[0, 1], [2, 3], [4, 5], [6, 7]]

## Exercice 5 :

Compléter le programme ci-dessous afin d'afficher tous les éléments, un à un, du tableau donné.

In [7]:
repertoire = [['Michel', '0210101010'], ['Marjorie', '0211111111'], ['Perrine', '0212121212']]
# ---------------
for t in repertoire:
    for x in t:
        print(x)

Michel
0210101010
Marjorie
0211111111
Perrine
0212121212

## Exercice 6 :
Ecrire un programme qui crée un tableau à deux dimensions de taille 30 $\times$ 30 contenant des entiers tirés au hasard entre 1 et 9999, puis l'affiche.

In [12]:
from random import randint
t = [[randint(1, 9999) for j in range(30)] for i in range(30)]
t

[[9881,
  8524,
  4254,
  1367,
  9468,
  1779,
  7916,
  9122,
  8288,
  356,
  2522,
  7185,
  6011,
  6539,
  5608,
  6751,
  8076,
  1135,
  7745,
  7467,
  3814,
  8817,
  4377,
  5157,
  1691,
  5845,
  7681,
  6775,
  7290,
  4795],
 [5228,
  243,
  2993,
  6195,
  6256,
  3958,
  4619,
  3968,
  5864,
  6807,
  1832,
  65,
  9309,
  788,
  5407,
  8328,
  5816,
  9621,
  4759,
  2671,
  5245,
  4399,
  9582,
  997,
  7777,
  1219,
  1637,
  7688,
  2331,
  3348],
 [3105,
  9545,
  95,
  466,
  4642,
  4638,
  8200,
  1296,
  4165,
  6494,
  5945,
  6687,
  171,
  9044,
  7193,
  7448,
  7093,
  3049,
  8988,
  7287,
  6757,
  342,
  2600,
  470,
  7022,
  9281,
  5094,
  5477,
  5083,
  7303],
 [9449,
  3095,
  6700,
  7102,
  5848,
  9953,
  3481,
  3371,
  4877,
  4780,
  518,
  7108,
  2757,
  9354,
  3827,
  1622,
  1005,
  2152,
  1268,
  7115,
  6677,
  3160,
  2946,
  6882,
  5700,
  8008,
  6425,
  1675,
  5837,
  1651],
 [7265,
  5550,
  1597,
  5921,
  1295,
  7130,
  787,
  3686,
  6452,
  7434,
  5760,
  7551,
  8852,
  7042,
  1197,
  4277,
  8085,
  2765,
  1047,
  8803,
  7249,
  8771,
  8408,
  5129,
  5117,
  7179,
  1182,
  3182,
  8850,
  9256],
 [5325,
  1333,
  5253,
  4968,
  9873,
  2248,
  1703,
  7582,
  2392,
  8393,
  4507,
  6799,
  5726,
  6053,
  2774,
  260,
  6732,
  6467,
  5914,
  2436,
  2158,
  5228,
  6368,
  6628,
  1608,
  7127,
  608,
  4965,
  8173,
  8761],
 [6199,
  8466,
  5704,
  8971,
  7720,
  2339,
  224,
  836,
  6078,
  6547,
  9602,
  8543,
  4207,
  8264,
  4324,
  6550,
  2864,
  7526,
  7987,
  1626,
  6208,
  2154,
  1445,
  9590,
  9083,
  7972,
  1101,
  4482,
  6416,
  3116],
 [3091,
  3801,
  2531,
  1978,
  6257,
  2950,
  3191,
  176,
  5300,
  6900,
  325,
  3581,
  3868,
  1129,
  6359,
  6647,
  7569,
  7153,
  999,
  4905,
  5125,
  1415,
  2574,
  971,
  7970,
  5880,
  4016,
  6225,
  8762,
  9880],
 [2351,
  5533,
  6325,
  1433,
  865,
  7906,
  7009,
  8631,
  3385,
  2934,
  9240,
  1023,
  4615,
  5607,
  7085,
  8552,
  1758,
  9787,
  3942,
  1061,
  3597,
  5585,
  1146,
  4845,
  5832,
  5416,
  8693,
  9246,
  1550,
  9614],
 [7216,
  7016,
  6271,
  69,
  4249,
  5756,
  160,
  7787,
  7486,
  1009,
  5813,
  8856,
  3099,
  5414,
  8123,
  7316,
  5500,
  495,
  2401,
  1368,
  6010,
  8502,
  4394,
  1125,
  4737,
  7906,
  3409,
  1129,
  742,
  724],
 [4639,
  4020,
  5131,
  3944,
  1676,
  5072,
  7680,
  2207,
  490,
  9389,
  6397,
  5437,
  1474,
  9422,
  2779,
  1601,
  3428,
  9344,
  7903,
  6592,
  3806,
  7699,
  7636,
  7472,
  3329,
  2146,
  1356,
  7543,
  4972,
  3891],
 [7666,
  5265,
  2385,
  5205,
  440,
  3739,
  7370,
  2797,
  5560,
  6658,
  3626,
  1928,
  4636,
  443,
  597,
  5877,
  8672,
  8747,
  8603,
  474,
  6956,
  4227,
  2474,
  2667,
  7425,
  3962,
  8580,
  292,
  4608,
  2979],
 [4542,
  7936,
  4619,
  5927,
  6026,
  9477,
  7690,
  951,
  5533,
  2598,
  6047,
  9285,
  7592,
  5400,
  2709,
  963,
  184,
  1866,
  118,
  8118,
  8160,
  7855,
  9959,
  700,
  9974,
  2161,
  4610,
  5527,
  7321,
  1490],
 [8832,
  6187,
  4733,
  8908,
  5999,
  3701,
  2536,
  3156,
  8270,
  6797,
  319,
  1416,
  7869,
  2375,
  7939,
  2758,
  5151,
  7000,
  4636,
  1550,
  7117,
  4058,
  1414,
  7645,
  2195,
  1192,
  1970,
  6776,
  366,
  4311],
 [6233,
  462,
  3613,
  2314,
  4660,
  9508,
  6800,
  7594,
  8143,
  4423,
  6709,
  5212,
  3778,
  6238,
  1295,
  7123,
  3486,
  5187,
  3058,
  5433,
  9560,
  4489,
  8833,
  3841,
  3379,
  6618,
  8701,
  4982,
  5574,
  5564],
 [449,
  9608,
  5005,
  5928,
  2389,
  9118,
  9254,
  3839,
  3208,
  9068,
  6614,
  2853,
  7486,
  5819,
  4614,
  6657,
  1810,
  7488,
  9235,
  9018,
  579,
  1512,
  812,
  9627,
  158,
  6795,
  6509,
  8351,
  1506,
  9674],
 [959,
  304,
  7098,
  8293,
  3513,
  6870,
  3756,
  6397,
  6619,
  5016,
  2945,
  6518,
  4122,
  9673,
  8410,
  6943,
  2101,
  8658,
  4777,
  1238,
  5335,
  987,
  8545,
  8804,
  842,
  2973,
  8155,
  3179,
  4255,
  1104],
 [9439,
  504,
  8580,
  7088,
  2438,
  3335,
  1129,
  6660,
  2138,
  4354,
  2796,
  7765,
  1001,
  9011,
  4344,
  8889,
  687,
  9248,
  9245,
  483,
  1197,
  9398,
  8729,
  3603,
  4636,
  8635,
  3224,
  989,
  4960,
  8620],
 [8559,
  6691,
  8049,
  6220,
  6684,
  656,
  3290,
  6851,
  442,
  284,
  621,
  6903,
  3465,
  2621,
  6998,
  1974,
  5745,
  5451,
  7726,
  8791,
  6972,
  6017,
  3732,
  293,
  7486,
  9554,
  511,
  6473,
  9471,
  7827],
 [8158,
  6968,
  4544,
  1614,
  7725,
  2909,
  2182,
  6057,
  6616,
  5788,
  4550,
  6365,
  5525,
  3195,
  3521,
  1844,
  6446,
  9681,
  4484,
  4433,
  1572,
  7245,
  1695,
  3013,
  5379,
  8055,
  7555,
  4557,
  6223,
  4576],
 [1863,
  2562,
  6685,
  6385,
  5373,
  5628,
  4232,
  5816,
  4580,
  6329,
  7474,
  5453,
  4235,
  3577,
  6787,
  6331,
  6735,
  1889,
  7608,
  9966,
  9670,
  6351,
  5499,
  5858,
  894,
  9695,
  8052,
  514,
  317,
  8758],
 [948,
  9430,
  3119,
  6178,
  3500,
  4549,
  2963,
  1661,
  9953,
  8703,
  6723,
  235,
  8446,
  1100,
  7152,
  2132,
  367,
  276,
  7075,
  9664,
  5907,
  3917,
  6493,
  1982,
  9012,
  5458,
  8584,
  5117,
  5276,
  9142],
 [5055,
  8689,
  1807,
  5351,
  7709,
  7720,
  7043,
  2253,
  7855,
  2726,
  2177,
  7178,
  6632,
  975,
  250,
  1891,
  1292,
  3403,
  3106,
  1473,
  7127,
  3721,
  1917,
  7259,
  6322,
  5045,
  9589,
  6230,
  5845,
  4141],
 [5986,
  6947,
  8872,
  3589,
  3508,
  9419,
  5850,
  6746,
  7691,
  4482,
  6951,
  8691,
  4866,
  1245,
  295,
  5941,
  9617,
  4028,
  2707,
  8669,
  6365,
  7407,
  487,
  4564,
  7167,
  9086,
  1366,
  3940,
  1700,
  6091],
 [5730,
  6916,
  3239,
  6116,
  6132,
  6220,
  1820,
  9513,
  4300,
  2281,
  9166,
  9760,
  2069,
  2083,
  9158,
  9568,
  1057,
  201,
  3393,
  291,
  8534,
  8804,
  2429,
  8885,
  5541,
  2662,
  3805,
  5575,
  4286,
  6210],
 [7495,
  1879,
  3906,
  2961,
  9793,
  7329,
  2155,
  8849,
  3255,
  7857,
  7027,
  200,
  3899,
  5033,
  9116,
  8337,
  92,
  2335,
  3281,
  6233,
  6371,
  7218,
  1630,
  8181,
  1274,
  9305,
  825,
  413,
  2217,
  8335],
 [8667,
  8541,
  5428,
  2418,
  3443,
  7956,
  9345,
  4319,
  711,
  5925,
  9335,
  896,
  8786,
  7360,
  6512,
  1618,
  6217,
  7177,
  2092,
  8973,
  4077,
  6281,
  4574,
  4111,
  6987,
  6031,
  6544,
  9228,
  6327,
  4272],
 [8353,
  8199,
  1774,
  6686,
  2676,
  4308,
  1492,
  2928,
  5612,
  9676,
  8175,
  3630,
  2953,
  752,
  3183,
  8302,
  2771,
  1223,
  430,
  8627,
  316,
  7321,
  4401,
  4738,
  2356,
  5913,
  8073,
  4233,
  936,
  7050],
 [1591,
  436,
  25,
  1129,
  636,
  4281,
  3000,
  4787,
  1828,
  8042,
  6897,
  9831,
  6577,
  2445,
  1744,
  2091,
  4155,
  7111,
  7805,
  5296,
  8133,
  5499,
  7236,
  1889,
  1528,
  7399,
  1886,
  1485,
  2962,
  7681],
 [2174,
  6731,
  3333,
  8082,
  3665,
  4598,
  1323,
  8681,
  5272,
  979,
  2496,
  8956,
  7872,
  5310,
  5267,
  427,
  1213,
  2954,
  2914,
  3935,
  990,
  2624,
  5934,
  6615,
  7029,
  859,
  8986,
  2967,
  167,
  3267]]

## Exercice 7 :
Ecrire une fonction ``ajout(v, T)`` qui crée un nouveau tableau contenant d'abord tous les éléménts du tableau ``T`` puis ``v``.

In [22]:
def ajout(v, T):
    tab = [0]*(len(T) + 1)
    for i in range(len(T)):
        tab[i] = T[i]
    tab[len(T)] = v
    return tab

# Variante : on remplit le tableau initial de valeurs v et non pas de 0:

def ajoutbis(v, T):
    tab = [v]*(len(T) + 1)
    for i in range(len(T)):
        tab[i] = T[i]
    return tab

# ESSAI
t = [12, 15, 2, 1]
v = 7
nouv_tab = ajout(v, t)
print(nouv_tab)
nouv_tab = ajoutbis(v,t)
print(nouv_tab)

#---------- AUTRE METHODE : avec append ---------------
def ajoutter(v, T):
    tab = []
    for i in range(len(T)):
        tab.append(T[i])
    tab.append(v)
    return tab

# ESSAI
t = [12, 15, 2, 1]
v = 7
nouv_tab = ajoutter(v, t)
print(nouv_tab)

[12, 15, 2, 1, 7]
[12, 15, 2, 1, 7]
[12, 15, 2, 1, 7]

## Exercice 8 :
Ecrire une fonction ``concatenation(t1, t2)`` qui crée un nouveau tableau contenant, dans l'ordre, tous les éléments du tableau ``t1`` puis tous les éléments du tableau ``t2``.

In [23]:
def concatenation(t1, t2):
    tab = [0]*(len(t1) + len(t2))
    for i in range(len(t1)):
        tab[i] = t1[i]
    for i in range(len(t2)):
        tab[len(t1) + i] = t2[i]
    return tab

# ESSAI
t1 = [1, 2, 3, 4]
t2 = [10, 9, 8, 7]
nouv_tab = concatenation(t1, t2)
nouv_tab

[1, 2, 3, 4, 10, 9, 8, 7]

**Ressources et références :**

- Documents ressources du DIU EIL Nantes
- Spécialité NSI 1re, T. BALABONSKI, S. CONCHON, J.-C. FILLIATRE, K. NGUYEN, éditions ELLIPSES
- Numérique et Sciences Informatiques, Stéphane PASQUET, Interro des lycées, NATHAN

---
Germain BECKER & Sébastien POINT, Lycée Mounier, ANGERS ![Licence Creative Commons](https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png)