<h1 style="font-size: 30px; text-align: center">Langage SQL - EXERCICES</h1>

---

- [Exercice 1](#Exercice-1-:-BDD-du-disquaire---Requ√™tes-portant-sur-une-table) : BDD du disquaire - Requ√™tes portant sur une table
- [Exercice 2](#Exercice-2-:-BDD-du-disquaire---Requ√™tes-crois√©es) : BDD du disquaire - Requ√™tes crois√©es
- [Exercice 3](#Exercice-3---Questions-interactives-en-ligne-avec-SQLZOO) : Question interactives en ligne avec SQLZOO
- [Exercice 4](#Exercice-4---Modifier-une-table) : Modifier une table
- [Exercice 5](#Exercice-5---Modification-de-la-base-du-disquaire) : Modification de la base du disquaire
- [Exercice 6](#Exercice-6-:-Base-de-donn√©es-d'un-h√¥pital) : Base de donn√©es d'un h√¥pital
- [Exercice 7](#Exercice-7---S'entra√Æner-en-ligne) : S'entra√Æner en ligne

# Exercice 1 : BDD du disquaire - Requ√™tes portant sur une table

<img class="centre image-responsive" src="data/vinyl.svg" alt="diagramme" width="200">

L'objectif de cet exercice est de passer en revue la plupart des requ√™tes SQL d'interrogation portant sur _une seule table_.

> On travaillera avec la base de donn√©es `disquaire.db` que vous trouverez dans l'archive de ce chapitre. Vous utiliserez le logiciel _DB Browser for SQLite_ ou le logiciel en ligne [sqliteonline.com](https://sqliteonline.com/) dans lesquels vous aurez au pr√©alable ouvert la base de donn√©es en question.

On rappelle que cette base de donn√©es poss√®de le sch√©ma relationnel suivant :

<pre style="padding-bottom:10px;">
    <code><em>Album</em>(<span style="padding-bottom:3px; border-bottom: 1px solid black;"><em>id_album</em></span> INT, <em>titre</em> TEXT, <em>annee</em> INT, <em>dispo</em> BOOL)</code>

    <code><em>Artiste</em>(<span style="padding-bottom:3px; border-bottom: 1px solid black;"><em>id_artiste</em></span> INT, <em>nom</em> TEXT, <em>prenom</em> TEXT)</code>

    <code><em>Artiste_de</em>(<span style="padding-bottom:3px; border-bottom: 1px solid black;"><em>#id_artiste</em></span> INT, <span style="padding-bottom:3px; border-bottom: 1px solid black;"><em>#id_album</em></span> INT)</code>

    <code><em>Client</em>(<span style="padding-bottom:3px; border-bottom: 1px solid black;"><em>id_client</em></span> INT, <em>nom</em> TEXT, <em>prenom</em> TEXT, <em>email</em> TEXT)</code>

    <code><em>Emprunt</em>(<em>#id_client</em> INT, <span style="padding-bottom:3px; border-bottom: 1px solid black;"><em>#id_album</em></span> INT, <em>jour</em> DATE)</code>
</pre>

On peut aussi repr√©senter graphiquement ce sch√©ma par le diagramme suivant :

<img class="centre image-responsive" src="data/diagramme_bdd.png" alt="diagramme">

<span class="image-licence" style="display: block;text-align: center;font-size: 0.9em;color: #aaa;">R√©alis√© avec l'application <a href="https://app.quickdatabasediagrams.com/#/d/bbXJBD" target="_blank">quickdatabasediagrams.com</a>
</span>

## S√©lectionner des colonnes

**Q1** : Traduisez par une phrase la requ√™te suivante. *V√©rifiez __ensuite__ votre r√©ponse en l'ex√©cutant*.

```sql
SELECT * FROM Album;
```

*R√©ponse* :

**Q2** : Traduisez par une phrase la requ√™te suivante. *V√©rifiez __ensuite__ votre r√©ponse en l'ex√©cutant*.

```sql
SELECT titre, dispo FROM Album;
```

*R√©ponse* :

**Q3** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer uniquement les titres et l'ann√©e de sortie de chaque album.

*R√©ponse* :

**Q4** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer tous les attributs des clients.

*R√©ponse* :

**Q5** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer uniquement l'id_client, le nom et le pr√©nom de chaque client.

*R√©ponse* :

**Q6** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer uniquement le nom et le pr√©nom de chaque artiste.

*R√©ponse* :

## S√©lectionner des lignes

En plus de s√©lectionner des colonnes, on peut s√©lectionner certaines lignes en utilisant la clause `WHERE` suivie de la condition de s√©lection.

**Q7** : Traduisez par une phrase la requ√™te suivante. *V√©rifiez __ensuite__ votre r√©ponse en l'ex√©cutant*.

```sql
SELECT titre FROM Album WHERE dispo=0;
```

*R√©ponse* :

**Q8** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les titres de tous les albums sortis en 2000 ou apr√®s.<br>*R√©sultat attendu : 12 enregistrements*.

*R√©ponse* :

**Q9** √âcrivez et testez une requ√™te permettant de r√©cup√©rer tous les albums sortis en 1970.<br>*R√©sultat attendu : 3 enregistrements*.

*R√©ponse* :

**Q10** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les titres de tous les albums sortis avant 1950 ou apr√®s 2010.
<br>*R√©sultat attendu : 6 enregistrements*.

*R√©ponse* :

**Q11** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer tous les albums disponibles et sortis avant 1990.
<br>*R√©sultat attendu : 13 enregistrements*.

*R√©ponse* :

**Q12** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer tous les clients dont le nom de famille est "Petit".
<br>*R√©sultat attendu : 2 enregistrements*.

*R√©ponse*:

**Q13** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer tous les clients dont le nom de famille est "Sakkal".
<br>*R√©sultat attendu : 0 enregistrements*.

*R√©ponse*:

**Q14** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les noms des artistes ne poss√©dant pas de pr√©nom.
<br>*R√©sultat attendu : 6 enregistrements*.

> <span style="font-size:1.6em">üÜò</span> Lisez cette page pour savoir comment tester si une valeur est absente avec SQLite : [https://sql.sh/cours/where/is)

*R√©ponse* :

## Trier des donn√©es

On peut trier des donn√©es en utilisant `ORDER BY` √† la fin d'une requ√™te, suivi de l'attribut √† trier et de `ASC` (pour un tri croissant) ou `DESC` (pour un tri d√©croissant).

**Q15** : Traduisez par une phrase la requ√™te suivante. *V√©rifiez __ensuite__ votre r√©ponse en l'ex√©cutant*.

```sql
SELECT * FROM Artiste ORDER BY nom ASC;
```

*R√©ponse* :

**Q16** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les albums tri√©s dans l'ordre d√©croissant de leur ann√©e de sortie.

*R√©ponse* :

**Q17** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les titres par ordre alphab√©tique des albums sortis entre 1980 et 2010.
<br>*R√©sultat attendu : 10 enregistrements*.

*R√©ponse* :

<br><br><br><br><br>

**Q18** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les noms et pr√©noms de tous les clients, tri√©s par ordre alphab√©tique des noms.

*R√©ponse* :

<br><br><br><br><br>

**Q19** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les noms et pr√©noms de tous les clients, tri√©s par ordre alphab√©tique des noms, puis des pr√©noms en cas de noms identiques.
<br>*Vous v√©rifierez bien que les clients portant le m√™me nom sont bien tri√©s alphab√©tiquement selon leur pr√©nom (ce qui n'√©tait pas le cas de la pr√©c√©dente requ√™te).*

> <span style="font-size:1.6em">üÜò</span> On peut trier des donn√©es selon plusieurs attributs en les √©crivant apr√®s `ORDER BY` dans l'ordre souhait√© et en les s√©parant par des virgules.

*R√©ponse* :

<br><br><br><br><br>

## Supprimer les doublons gr√¢ce √† `DISTINCT`

On peut supprimer les doublons gr√¢ce √† `DISTINCT`.

**Q20** : Traduisez par une phrase la requ√™te suivante. *V√©rifiez __ensuite__ votre r√©ponse en l'ex√©cutant*.

```sql
SELECT DISTINCT id_client FROM Emprunt;
```

*R√©ponse* :

**Q21** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les titres distincts des albums.
<br>*R√©sultat attendu : 29 enregistrements (car un album √©tait en double).*

*R√©ponse* :

<br><br><br>

## Compter les enregistrements

On peut compter le nombre d'enregistrements (ou tuples) en utilisant la fonction `COUNT()`.

**Q22** : Traduisez par une phrase la requ√™te suivante. *V√©rifiez __ensuite__ votre r√©ponse en l'ex√©cutant*.

```sql
SELECT COUNT(*) AS nbClients FROM Client;
```

> On rappelle que `AS` permet de nommer le r√©sultat de la requ√™te, ici on le nomme `nbClients`. Essayez d'enlever le `AS nbClients` et observez le r√©sultat de la requ√™te.

*R√©ponse* :

**Q23** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer le nombre d'emprunts en cours, que l'on notera `nbEmprunts`.
<br>*R√©sultat attendu : 11*.

*R√©ponse* :

**Q24** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer le nombre de clients ayant le nom "Petit", que l'on notera `nbPetit`.
<br>*R√©sultat attendu : 2*.

*R√©ponse* :

**Q25** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer le nombre de titres diff√©rents d'albums, que l'on notera `nbAlbumsDistincts`.
<br>*R√©sultat attendu : 29*.

> <span style="font-size:1.6em">üÜò</span> Vous lirez la page suivant pour savoir comment faire : [https://sql.sh/fonctions/agregation/count](https://sql.sh/fonctions/agregation/count).

*R√©ponse* :

## Recherche par motif

On peut effectuer des requ√™tes effectuant des recherches de certains motifs.

Par exemple, on peut chercher tous les clients dont l'adresse email contient le domaine "domaine.net". La requ√™te s'√©crirait :

```sql
SELECT * FROM Client WHERE email LIKE "%domaine.net%";
```

**Analyse** :

* On a remplac√© le `=` qui fait une recherche exacte par `LIKE`. Ainsi, `email LIKE "%domaine.net%"` est √©valu√©e √† vrai si et seulement si l'attribut `email` correspond au motif `"%domaine.net%"`.
* Dans un motif le symbole `%` est un _joker_ et peut √™tre substitu√© par n'importe quelle cha√Æne de caract√®res.

**Q26** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les titres de tous les albums contenant le mot `"Love"`.
<br>*R√©sultat attendu : 2 enregistrements*.

*R√©ponse* :

<br><br><br>

**Q27** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer le nombre d'albums dont le titre contient la lettre `"a"`.
<br>*R√©sultat attendu : 11 enregistrements*.

*R√©ponse* :

<br><br><br>

**Q28** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les noms et pr√©noms de tous les artistes _commen√ßant_ par la lettre `"M"`.
<br>*R√©sultat attendu : 3 enregistrements*.

*R√©ponse* :

<br><br><br>

# Exercice 2 : BDD du disquaire - Requ√™tes crois√©es

<img class="centre image-responsive" src="data/vinyl.svg" alt="diagramme" width="200">

> On travaillera toujours avec la base de donn√©es `disquaire.db` que vous trouverez dans l'archive de ce chapitre. Vous utiliserez le logiciel _DB Browser for SQLite_ ou le logiciel en ligne [sqliteonline.com](https://sqliteonline.com/) dans lesquels vous aurez au pr√©alable ouvert la base de donn√©es en question.

L'exercice pr√©c√©dent portait sur des requ√™tes ne portant √† chaque fois que sur une seule table. C'est malheureusement insuffisant pour chercher certaines informations qui n√©cessitent de croiser plusieurs tables.

## Introduction

> On pr√©sente dans cette introdution la notion de **jointure** qui permet de croiser plusieurs tables. Prenez le temps de lire attentivement cette partie, de tester les requ√™tes propos√©es, de les modifier, etc. pour bien comprendre cette notion fondamentale des bases de donn√©es relationnelles.

Imaginons que l'on veuille conna√Ætre les clients ayant des emprunts en cours. Ces derniers sont ceux pr√©sents dans la table `Emprunt` et on peut les obtenir avec la requ√™te

```sql
SELECT * FROM Emprunt;
```

qui produit la r√©ponse suivante :

<table>
    <tbody><tr>
        <th>id_client</th>
        <th>id_album</th>
        <th>jour</th>
    </tr>
    <tr>
        <td>1</td>
        <td>5</td>
        <td>2021-09-10</td>
    </tr>
    <tr>
        <td>3</td>
        <td>8</td>
        <td>2021-08-18</td>
    </tr>
    <tr>
        <td>3</td>
        <td>24</td>
        <td>2021-08-18</td>
    </tr>
    <tr>
        <td>5</td>
        <td>25</td>
        <td>2021-09-12</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
        <td>2021-10-10</td>
    </tr>
    <tr>
        <td>9</td>
        <td>20</td>
        <td>2021-09-28</td>
    </tr>
    <tr>
        <td>11</td>
        <td>14</td>
        <td>2021-10-08</td>
    </tr>
    <tr>
        <td>7</td>
        <td>15</td>
        <td>2021-10-08</td>
    </tr>
    <tr>
        <td>7</td>
        <td>19</td>
        <td>2021-10-08</td>
    </tr>
    <tr>
        <td>7</td>
        <td>16</td>
        <td>2021-10-15</td>
    </tr>
    <tr>
        <td>16</td>
        <td>29</td>
        <td>2021-10-01</td>
    </tr>
</tbody></table>

Mais ce n'est pas tr√®s satisfaisant car on aimerait plut√¥t afficher les noms, pr√©noms et adresse email de ces clients plutot que `id_client`.

Le probl√®me est que les noms, pr√©noms, adresses email sont uniquement pr√©sents dans la table `Client`. Il est n√©cessaire de faire **une jointure** entre les deux tables `Emprunt` et `Client`.

### Premi√®re jointure

Une jointure consiste √† cr√©er toutes les combinaisons de lignes des deux tables ayant un attribut de m√™me valeur (l'attribut `id_client` dans notre exemple). Pour effectuer une jointure, on utilise `JOIN` !

Ainsi, la requ√™te

```sql
SELECT *
FROM Emprunt
JOIN Client ON Emprunt.id_client = Client.id_client;
```

cr√©e la jointure des deux tables `Emprunt` et `Client`, repr√©sent√©e ci-dessous.

<table>
    <tbody><tr>
        <th>id_client</th>
        <th>id_album</th>
        <th>jour</th>
        <th>id_client_1</th>
        <th>nom</th>
        <th>prenom</th>
        <th>email</th>
    </tr>
    <tr>
        <td>1</td>
        <td>5</td>
        <td>2021-09-10</td>
        <td>1</td>
        <td>Dupont</td>
        <td>Florine</td>
        <td>dupont.florine@domaine.net</td>
    </tr>
    <tr>
        <td>3</td>
        <td>8</td>
        <td>2021-08-18</td>
        <td>3</td>
        <td>Marchand</td>
        <td>Gr√©goire</td>
        <td>greg.marchand49@music.com</td>
    </tr>
    <tr>
        <td>3</td>
        <td>24</td>
        <td>2021-08-18</td>
        <td>3</td>
        <td>Marchand</td>
        <td>Gr√©goire</td>
        <td>greg.marchand49@music.com</td>
    </tr>
    <tr>
        <td>5</td>
        <td>25</td>
        <td>2021-09-12</td>
        <td>5</td>
        <td>Pacot</td>
        <td>Jean</td>
        <td>jpacot@music.com</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
        <td>2021-10-10</td>
        <td>5</td>
        <td>Pacot</td>
        <td>Jean</td>
        <td>jpacot@music.com</td>
    </tr>
    <tr>
        <td>9</td>
        <td>20</td>
        <td>2021-09-28</td>
        <td>9</td>
        <td>Dubois</td>
        <td>Philippe</td>
        <td>pdubois5@chezmoi.net</td>
    </tr>
    <tr>
        <td>11</td>
        <td>14</td>
        <td>2021-10-08</td>
        <td>11</td>
        <td>Fournier</td>
        <td>Marie</td>
        <td>mfournier@abc.de</td>
    </tr>
    <tr>
        <td>7</td>
        <td>15</td>
        <td>2021-10-08</td>
        <td>7</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>7</td>
        <td>19</td>
        <td>2021-10-08</td>
        <td>7</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>7</td>
        <td>16</td>
        <td>2021-10-15</td>
        <td>7</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>16</td>
        <td>29</td>
        <td>2021-10-01</td>
        <td>16</td>
        <td>Bernardin</td>
        <td>St√©phanie</td>
        <td>sbernard1@chezmoi.net</td>
    </tr>
</tbody></table>

**Analyse** :

* La jointure (`SELECT * FROM Emprunt JOIN Client`) a permis de recopier toutes les colonnes des deux tables.
* Le choix des lignes √† conserver, appel√©e _condition de jointure_, suit le mot cl√© `ON`. Cela permet de fusionner uniquement les lignes v√©rifiant la condition `Emprunt.id_client = Client.id_client`, autrement dit les lignes pour lesquelle l'attribut `id_client` est identique donc celles concernant un m√™me client.
> Essayez d'enlever le `ON ...`, vous constaterez que toutes les lignes sont fusionn√©es, ce qui est absurde car une m√™me ligne peut alors correspondre √† deux clients distincts.
* Vous avez constat√© que l'on a pr√©fix√© chaque attribut par le nom de la table auquel il appartient. Cela permet de faire la diff√©rence entre deux attributs portant le m√™me nom dans deux tables diff√©rentes, et c'est une bonne pratique de toujours le faire m√™me lorsqu'il n'y a pas d'ambigu√Øt√©.

<blockquote class="information">
    <p>Ce sont les cl√©s √©trang√®res qui permettent de faire le lien entre les tables, il est donc normal que la condition de jointure fasse intervenir <code>id_client</code> (puisque c'est une cl√© √©trang√®re de la table <code>Emprunt</code> qui la lie √† la table <code>Client</code>).</p>
</blockquote>

On peut combiner une jointure avec la clause `SELECT` pour n'afficher que ce qui nous int√©resse. Par exemple, si on ne veut que les noms, pr√©noms et adresses email des clients ayant des emprunts en cours ainsi que les albums emprunt√©s, on peut faire la requ√™te

```sql
SELECT Emprunt.id_album, Client.nom, Client.prenom, Client.email
FROM Emprunt
JOIN Client ON Emprunt.id_client = Client.id_client;
```

qui produit le r√©sultat

<table>
    <tbody><tr>
        <th>id_album</th>
        <th>jour</th>
        <th>nom</th>
        <th>prenom</th>
        <th>email</th>
    </tr>
    <tr>
        <td>5</td>
        <td>2021-09-10</td>
        <td>Dupont</td>
        <td>Florine</td>
        <td>dupont.florine@domaine.net</td>
    </tr>
    <tr>
        <td>8</td>
        <td>2021-08-18</td>
        <td>Marchand</td>
        <td>Gr√©goire</td>
        <td>greg.marchand49@music.com</td>
    </tr>
    <tr>
        <td>24</td>
        <td>2021-08-18</td>
        <td>Marchand</td>
        <td>Gr√©goire</td>
        <td>greg.marchand49@music.com</td>
    </tr>
    <tr>
        <td>25</td>
        <td>2021-09-12</td>
        <td>Pacot</td>
        <td>Jean</td>
        <td>jpacot@music.com</td>
    </tr>
    <tr>
        <td>6</td>
        <td>2021-10-10</td>
        <td>Pacot</td>
        <td>Jean</td>
        <td>jpacot@music.com</td>
    </tr>
    <tr>
        <td>20</td>
        <td>2021-09-28</td>
        <td>Dubois</td>
        <td>Philippe</td>
        <td>pdubois5@chezmoi.net</td>
    </tr>
    <tr>
        <td>14</td>
        <td>2021-10-08</td>
        <td>Fournier</td>
        <td>Marie</td>
        <td>mfournier@abc.de</td>
    </tr>
    <tr>
        <td>15</td>
        <td>2021-10-08</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>19</td>
        <td>2021-10-08</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>16</td>
        <td>2021-10-15</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>29</td>
        <td>2021-10-01</td>
        <td>Bernardin</td>
        <td>St√©phanie</td>
        <td>sbernard1@chezmoi.net</td>
    </tr>
</tbody></table>

### Combiner les jointures

Plut√¥t que d'affichier l'`id_album`, qui est peu lisible, on peut pr√©f√©rer afficher le titre de l'album. Pour cela, on peut faire une nouvelle jointure :

```sql
SELECT Album.titre, Emprunt.jour, Client.nom, Client.prenom, Client.email
FROM Emprunt
JOIN Client ON Emprunt.id_client = Client.id_client
JOIN Album ON Emprunt.id_album = Album.id_album;
```

**Analyse** : On a ajout√© la derni√®re ligne qui permet de faire une jointure sur l'attribut `id_album` entre la table produite par la requ√™te pr√©c√©dente et la table `Album`. Et on a remplac√© la premi√®re colonne `Emprunt.id_album` par `Album.titre` pour faire appara√Ætre les titres des albums comme souhait√© :

<table>
    <tbody><tr>
        <th>titre</th>
        <th>jour</th>
        <th>nom</th>
        <th>prenom</th>
        <th>email</th>
    </tr>
    <tr>
        <td>Axis : Bold As Love</td>
        <td>2021-09-10</td>
        <td>Dupont</td>
        <td>Florine</td>
        <td>dupont.florine@domaine.net</td>
    </tr>
    <tr>
        <td>Riding With The King</td>
        <td>2021-08-18</td>
        <td>Marchand</td>
        <td>Gr√©goire</td>
        <td>greg.marchand49@music.com</td>
    </tr>
    <tr>
        <td>Continuum</td>
        <td>2021-08-18</td>
        <td>Marchand</td>
        <td>Gr√©goire</td>
        <td>greg.marchand49@music.com</td>
    </tr>
    <tr>
        <td>Continuum</td>
        <td>2021-09-12</td>
        <td>Pacot</td>
        <td>Jean</td>
        <td>jpacot@music.com</td>
    </tr>
    <tr>
        <td>Thriller</td>
        <td>2021-10-10</td>
        <td>Pacot</td>
        <td>Jean</td>
        <td>jpacot@music.com</td>
    </tr>
    <tr>
        <td>Power Up</td>
        <td>2021-09-28</td>
        <td>Dubois</td>
        <td>Philippe</td>
        <td>pdubois5@chezmoi.net</td>
    </tr>
    <tr>
        <td>Let It Be</td>
        <td>2021-10-08</td>
        <td>Fournier</td>
        <td>Marie</td>
        <td>mfournier@abc.de</td>
    </tr>
    <tr>
        <td>44/876</td>
        <td>2021-10-08</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>Songs in the Key of Life</td>
        <td>2021-10-08</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>Lady Soul</td>
        <td>2021-10-15</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>Leave the Light On</td>
        <td>2021-10-01</td>
        <td>Bernardin</td>
        <td>St√©phanie</td>
        <td>sbernard1@chezmoi.net</td>
    </tr>
</tbody></table>

On peut combiner tout ce qui a √©t√© vu pr√©c√©demment (dans l'exercice 1 par exemple) avec les jointures, on peut par exemple ajouter des conditions. La requ√™te

```sql
SELECT Album.titre, Client.nom, Client.prenom, Client.email
FROM Emprunt
JOIN Client ON Emprunt.id_client = Client.id_client
JOIN Album ON Emprunt.id_album = Album.id_album
WHERE Client.nom = "Moreau";
```

produit le r√©sultat

<table>
    <tbody><tr>
        <th>titre</th>
        <th>nom</th>
        <th>prenom</th>
        <th>email</th>
    </tr>
    <tr>
        <td>44/876</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>Lady Soul</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
    <tr>
        <td>Songs in the Key of Life</td>
        <td>Moreau</td>
        <td>Alain</td>
        <td>amoreau1@abc.de</td>
    </tr>
</tbody></table>

### Utiliser des alias

Certaines requ√™tes peuvent commencer √† √™tre assez longues √† √©crire. Pour r√©duire leur longueur on peut utiliser des *alias* pour les noms de table gr√¢ce au mot cl√© `AS`.

Ainsi, la requ√™te pr√©c√©dente peut aussi s'√©crire

```sql
SELECT a.titre, c.nom, c.prenom, c.email
FROM Emprunt AS e
JOIN Client AS c ON e.id_client = c.id_client
JOIN Album AS a ON e.id_album = a.id_album
WHERE c.nom = "Moreau";
```

**Analyse** : `Emprunt AS e` permet de renommer la table `Emprunt` par `e`, ce qui permet de raccourcir les √©critures du type `Emprunt.id_client` en `e.id_client`. Idem pour `c` et `a` qui sont les alias respectifs des tables `Client` et `Album`.

## √Ä vous de jouer !

**Q1** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer l'adresse email de chaque client ayant un emprunt en cours.
<br>*R√©sultat attendu : 11 enregistrements (comme un peu au-dessus).*

*R√©ponse* :

<br><br><br><br><br><br><br>

**Q2** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les noms, pr√©noms et adresses email des clients ayant un emprunt en cours et dont la date d'emprunt est post√©rieure au 2 octobre 2021.
<br>*R√©sultat attendu : 5 enregistrements.*

*R√©ponse* :

<br><br><br><br><br><br><br>

**Q3** : En r√©alit√©, l'attribut `dispo` (de la table `Album`) n'est pas utile car on peut retrouver tous les albums emprunt√©s avec une jointure. **En supposant que l'attribut `dispo` n'existe pas**, √©crivez et testez une requ√™te permettant de r√©cup√©rer le titre de tous les albums emprunt√©s.
<br>*R√©sultat attendu : 11 enregistrements.*

*R√©ponse* :

<br><br><br><br><br><br><br>

**Q4** : Toujours sans utiliser l'attribut `dispo`, √©crivez et testez une requ√™te permettant de r√©cup√©rer le titre de tous les albums emprunt√©s par le client dont l'attribut `id_client` vaut 7. 
<br>*R√©sultat attendu : 3 enregistrements.*

*R√©ponse* :

<br><br><br><br><br><br><br>

**Q5** : Toujours sans utiliser l'attribut `dispo`, √©crivez et testez une requ√™te permettant de r√©cup√©rer le nom, le pr√©nom et le titre de tous les albums emprunt√©s par le client dont l'attribut `id_client` vaut 7. 
<br>*R√©sultat attendu : 3 enregistrements (comme √† la question pr√©c√©denet, le client en question est Alain Moreau).*

*R√©ponse* : 

<br><br><br><br><br><br><br><br><br>

**Q6** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les titres ainsi que les noms et pr√©noms des artistes de chaque album.
<br>*R√©sultat attendu : 34 enregistrements*.

*R√©ponse* :

<br><br><br><br><br><br><br><br>

**Q7** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les titres et l'ann√©e de sortie de tous les albums de Michael Jackson.
<br>*R√©sultat attendu : 3 enregistrements*.

*R√©ponse* :

<br><br><br><br><br><br><br><br>

**Q8** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les titres et l'ann√©e de sortie de tous les albums de Sting, rang√©s par ordre croissant d'ann√©e de sortie.
<br>*R√©sultat attendu : 3 enregistrements*.

*R√©ponse* :

<br><br><br><br><br><br><br><br>

**Q9** : √âcrivez et testez une requ√™te permettant de r√©cup√©rer les noms et pr√©noms des artistes de l'album initul√© `"Don't Explain"`.
<br>*R√©sultat attendu : 2 enregistrements*.

*R√©ponse* : 

<br><br><br><br><br><br><br><br>

# Exercice 3 - Questions interactives en ligne avec SQLZOO

![](https://bigdata-world.net/wp-content/uploads/2020/11/sql-zoo.png)

## 1. Travail sur SELECT...

... sur une base de donn√©es des prix Nobel.

Lien vers l'activit√© : [https://sqlzoo.net/wiki/SELECT_from_Nobel_Tutorial](https://sqlzoo.net/wiki/SELECT_from_Nobel_Tutorial)

*Correction disponible ici : [https://github.com/jisaw/sqlzoo-solutions/blob/master/select-from-nobel.sql](https://github.com/jisaw/sqlzoo-solutions/blob/master/select-from-nobel.sql)*

## 2. Travail sur SUM et COUNT ...

... sur une base de donn√©es sur les pays du monde.

Lien vers l'activit√© : [https://sqlzoo.net/wiki/SUM_and_COUNT](https://sqlzoo.net/wiki/SUM_and_COUNT)

*Correction disponible ici : [https://github.com/jisaw/sqlzoo-solutions/blob/master/sum-and-count.sql](https://github.com/jisaw/sqlzoo-solutions/blob/master/sum-and-count.sql)*

## 3. Travail sur JOIN ...

... sur une base de donn√©es sur l'Euro 2012.

Lien vers l'activit√© : [https://sqlzoo.net/wiki/The_JOIN_operation](https://sqlzoo.net/wiki/The_JOIN_operation)

> **Attention : Vous pouvez vous arr√™ter √† la question 8**. En effet, √† partir de la question 9, il s'agit d'utiliser la clause `GROUP BY` qui n'est pas au programme de Terminale NSI (mais libre √† vous de vous y int√©resser ou pas).

*Correction disponible ici : [https://github.com/jisaw/sqlzoo-solutions/blob/master/join.sql](https://github.com/jisaw/sqlzoo-solutions/blob/master/join.sql)*

# Exercice 4 - Modifier une table

Les donn√©es stock√©es dans une base de donn√©es n'ont pas vocation √† √™tre fig√©es, elles peuvent √™tre modifi√©es au cours du temps gr√¢ce √† des **requ√™tes de mise √† jour** de la base de donnn√©es.

Nous allons voir les requ√™tes permettant d'ajouter des donn√©es √† une table, de modifier les donn√©es d'une table et de supprimer les donn√©es d'une table.

Avant cela, faisons une petite digression sur la cr√©ation de tables dans une base de donn√©es.

## Cr√©ation d'une table avec `CREATE TABLE`

<blockquote class="information">
    <p>La cr√©ation d'une base de donn√©es n'est pas au programme de Terminale NSI. N√©anmoins, conna√Ætre les requ√™tes permettant de cr√©er une table permet de mieux appr√©hender les requ√™tes de mise √† jour que l'on verra ensuite.</p>
</blockquote>

Cr√©er une base de donn√©es consiste √† cr√©er les tables de la base. Pour cr√©er une table, on utilise `CREATE TABLE`.

### Exemple

Pour cr√©er la table `Artiste` correspondant √† la relation suivante :

<pre style="padding-bottom:10px;">
    <code><em>Artiste</em>(<span style="padding-bottom:3px; border-bottom: 1px solid black;"><em>id_artiste</em></span> INT, <em>nom</em> TEXT, <em>prenom</em> TEXT)</code>
</pre>

on peut ex√©cuter cette commande SQL :

```sql
CREATE TABLE Artiste (
    id_artiste INTEGER PRIMARY KEY,
    nom TEXT,
    prenom TEXT
);
```

**Remarque** : On a bien pr√©cis√© le nom et le type de chaque attribut, et indiqu√© avec `PRIMARY KEY` quelle √©tait notre cl√© primaire.

### √Ä vous de jouer !

**Q1** : Ouvrez *DB Browser for SQLite* ou [sqliteonline.com](https://sqliteonline.com/) :

* si vous utilisez *DB Browser for SQLite*, cliquez sur "Nouvelle Base de Donn√©es" puis appelez-la `bac.db` et validez. Fermez ensuite la fen√™tre de l'assistant de cr√©ation de table. Vous √™tes d√©sormais pr√™t pour la suite !

* si vous utilisez *sqliteonline.com*, remplacez la requ√™te dans la fen√™tre SQL par `DROP TABLE demo;` pour effacer la table `demo` pr√©sente au d√©part. Vous √™tes d√©sormais pr√™t pour la suite !

**Q2** : √âcrivez la requ√™te permettant de cr√©er une table `Note` correspondant √† la relation suivante. *Vous v√©rifierez ensuite dans la structure de la base de donn√©es que la table a bien √©t√© cr√©√©e avec les bons attributs et les bons types.*

<pre style="padding-bottom:10px;">
    <code><em>Note</em>(<span style="padding-bottom:3px; border-bottom: 1px solid black;"><em>id_eleve</em></span> INT, <em>nom</em> TEXT, <em>prenom</em> TEXT, <em>maths</em> INT, <em>anglais</em> INT, <em>info</em> INT)</code>
</pre>

*R√©ponse* :

<br><br><br><br><br><br><br><br><br><br>

## Insertion de valeurs dans la table avec `INSERT INTO ... VALUES`

Pour ins√©rer des enregistrements (= des lignes) dans une table, on utilise la commande `INSERT INTO ... VALUES`

### Exemple

Pour ins√©rer les 3 enregistrements suivants dans la table `Artiste`.

| id_artiste | nom | prenom |
| --- | --- | --- |
| 1 | Clapton | √âric |
| 2 | Mayall | John |
| 3 | Hendrix | Jimi |

on √©crit la requ√™te 

```sql
INSERT INTO Artiste VALUES (1, 'Clapton', '√âric'),
                           (2, 'Mayall', 'John'),
                           (3, 'Hendrix', 'Jimi');
```

**Analyse** : 

* Apr√®s `INSERT INTO` (que l'on traduit par "ins√©rer dans") on indique le nom de la table (ici `Note`) dans laquelle on veut ins√©rer des donn√©es ;
* Puis on indique gr√¢ce au mot cl√© `VALUES` les enregistrements que l'on veut ins√©rer, ces derniers √©tant s√©par√©s par des virgules s'il y en a plusieurs (on n'oublie pas le `;` pour terminer) ;
* Avec cette requ√™te, les valeurs des diff√©rents enregistrements (ou $n$-uplets) doivent √™tre donn√©es dans le m√™me ordre que lors du `CREATE TABLE`. N√©anmoins, il est possible de les passer dans un ordre diff√©rent comme on l'explique juste en-dessous.

Si on d√©sire passer les valeurs des enregistrements dans un ordre diff√©rent de celui de la cr√©ation de la table, il suffit de pr√©ciser l'ordre juste apr√®s le nom de la table :

```sql
INSERT INTO Artiste (prenom, nom, id_artiste) VALUES ('John', 'Mayer', 4);
```

<blockquote class="information">
    <p>Pour voir le code SQL qui a permi de cr√©er la base de donn√©es du disquaire, vous pouvez suivre <a href="https://github.com/germainbecker/NSI/blob/master/Terminale/Theme2_Bases_de_donnees/disquaire.sql" target="_blank">ce lien</a>. Regardez notamment comment on a li√© les tables avec les cl√©s √©trang√®res en utilisant <code>REFERENCES</code> et comment on d√©finit la r√©union de plusieurs attributs comme cl√© primaire. Vous constaterez √©galement que l'on n'a pas utilis√© le type <code>TEXT</code> pour le domaine des attributs de type "texte". Enfin, vous trouverez dans ce fichier .sql les ordres d'insertions des diff√©rents enregistrements de chaque table.</p>
</blockquote>

### √Ä vous de jouer !

**Q3** : √âcrivez la requ√™te permettant d'ins√©rer les trois enregistrements suivants dans la table `Note`.

| id_eleve | nom | prenom | maths | anglais | info |
| --- | --- | --- | --- | --- | --- |
| 1 | Marchand | Alice | 14 | 13 | 11 |
| 2 | Muller | Marie | 10 | 18 | 17 |
| 3 | Prenel | Laura | 13 | 14 | 15 |

*R√©ponse* :

<br><br><br><br><br><br><br><br>

**Q4** : √âcrivez et testez une requ√™te permettant d'afficher tous les enregistrements de la table `Note` afin de v√©rifier que les donn√©es ont bien √©t√© ajout√©es.

*R√©ponse* : 

<br><br><br>

**Q5** : √âcrivez et testez la requ√™te permettant d'ajouter l'enregistrement `(3, 'Dupont', 'Arthur', 18, 14, 13)` √† la table `Note`. Quelle est l'erreur provoqu√©e ? Expliquez-la (voir Chapitre 1 si n√©cessaire).

*R√©ponse* : 

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

**Q6** : √âcrivez et testez une requ√™te permettant d'ajouter l'enregistrement concernant Laura mais avec la cl√© primaire `id_eleve` √©gale √† 4. *Vous v√©rifierez que l'enregistrement a bien √©t√© ajout√© !*

*R√©ponse* :

<br><br><br><br><br><br><br><br><br><br>

√Ä ce stade, vous devriez obtenir la table `Note` suivante :

<table>
    <tbody><tr>
        <th>id_eleve</th>
        <th>nom</th>
        <th>prenom</th>
        <th>maths</th>
        <th>anglais</th>
        <th>info</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Marchand</td>
        <td>Alice</td>
        <td>14</td>
        <td>13</td>
        <td>11</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Muller</td>
        <td>Marie</td>
        <td>10</td>
        <td>18</td>
        <td>17</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Prenel</td>
        <td>Laura</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Dupont</td>
        <td>Arthur</td>
        <td>18</td>
        <td>14</td>
        <td>13</td>
    </tr>
</tbody></table>

## Modification de valeurs avec `UPDATE ... SET`

Il est possible de modifier des valeurs existantes dans une table, avec `UPDATE`.

### Exemple

Dans la table `Client`, le client 

<table>
    <tbody><tr>
        <th>id_client</th>
        <th>nom</th>
        <th>prenom</th>
        <th>email</th>
    </tr>
    <tr>
        <td>4</td>
        <td>Michel</td>
        <td>Val√©rie</td>
        <td>vmichel5@monmail.com</td>
    </tr>
</tbody></table>

a chang√© d'adresse email. Pour modifier cette adresse dans la table `Client`, on peut √©crire :

```sql
UPDATE Client SET email = 'valerie.michel@email.fr'
WHERE id_client = 4;
```

**Analyse** : 

* Apr√®s `UPDATE` on indique le nom de la table dans laquelle on veut modifier une valeur (ici `Client`) ;
* Ensuite, on √©crit `SET` puis une expression de la forme `attribut = valeur` qui permet de d√©finir une nouvel valeur `valeur` pour l'attribut `attribut` (ici `'valerie.michel@email.fr'` est la nouvelle valeur de l'attribut `email`) ;
* Enfin, on pr√©cise avec `WHERE` la condition permettant de s√©lectionner les enregistrements sur lesquels la modification doit √™tre apport√©e (ici une seule ligne car la condition `id_client = 4` ne correspond qu'√† un seul enregistrement).

### √Ä vous de jouer !

**Q7** : Il y a eu une erreur dans la saisie de l'√©l√®ve num√©ro 3 : son pr√©nom n'est pas Laur**a** mais Laur**e**. √âcrivez et testez une requ√™te permettant d'effectuer la correction.
*Vous v√©rifierez que la modification a bien √©t√© effectu√©e !*.

*R√©ponse* :

<br><br><br><br><br><br><br><br><br><br><br><br>

**Q8** : Un autre erreur a √©t√© d√©tect√©e : les notes de Math√©matiques et d'Anglais de Marchand Alice ont √©t√© invers√©es. √âcrivez et testez **une** requ√™te permettant d'effectuer la correction.
*Vous v√©rifierez que la modification a bien √©t√© effectu√©e !*.

> <span style="font-size:1.6em">üÜò</span> Vous lirez la page suivant pour savoir comment modifier plusieurs valeurs simultan√©ment avec `UPDATE ... SET`: [https://sql.sh/cours/update](https://sql.sh/cours/update).

*R√©ponse* :

<br><br><br><br><br><br><br><br><br><br><br><br>

**Q9** : Pour des raisons d'√©quit√© entre √©tablissement, il a √©t√© d√©cid√© que les notes de math√©matiques de tous les √©l√®ves devaient augmenter d'un point. √âcrivez et testez une requ√™te permettant d'effectuer la correction. *Vous v√©rifierez que la modification a bien √©t√© effectu√©e !*.

> <span style="font-size:1.6em">üÜò</span> Pour ajouter un nombre √† une valeur, on peut proc√©der comme en Python pour ajouter un nombre √† une variable.

*R√©ponse* :

<br><br><br><br><br><br><br><br><br><br><br><br>

√Ä ce stade, vous devriez obtenir la table `Note` suivante :

<table>
    <tbody><tr>
        <th>id_eleve</th>
        <th>nom</th>
        <th>prenom</th>
        <th>maths</th>
        <th>anglais</th>
        <th>info</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Marchand</td>
        <td>Alice</td>
        <td>14</td>
        <td>14</td>
        <td>11</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Muller</td>
        <td>Marie</td>
        <td>11</td>
        <td>18</td>
        <td>17</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Prenel</td>
        <td>Laure</td>
        <td>14</td>
        <td>14</td>
        <td>15</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Dupont</td>
        <td>Arthur</td>
        <td>19</td>
        <td>14</td>
        <td>13</td>
    </tr>
</tbody></table>

## Suppression de valeurs

Il est possible de supprimer une ligne d'une table en utilisant `DELETE`.

### Exemple

Le client Marchand Gr√©goire a rendu l'album `Continuum` (dont l'attribut `id_album` vaut 25) qu'il avait emprunt√©. Il faut supprimer la ligne correspondante dans la table `Emprunt` :

<table>
    <tbody><tr>
        <th>id_client</th>
        <th>id_album</th>
        <th>jour</th>
    </tr>
    <tr>
        <td>1</td>
        <td>5</td>
        <td>2021-09-10</td>
    </tr>
    <tr>
        <td>3</td>
        <td>8</td>
        <td>2021-08-18</td>
    </tr>
    <tr>
        <td>3</td>
        <td>24</td>
        <td>2021-08-18</td>
    </tr>
    <tr>
        <td>5</td>
        <td>25</td>
        <td>2021-09-12</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
        <td>2021-10-10</td>
    </tr>
    <tr>
        <td>9</td>
        <td>20</td>
        <td>2021-09-28</td>
    </tr>
    <tr>
        <td>11</td>
        <td>14</td>
        <td>2021-10-08</td>
    </tr>
    <tr>
        <td>7</td>
        <td>15</td>
        <td>2021-10-08</td>
    </tr>
    <tr>
        <td>7</td>
        <td>19</td>
        <td>2021-10-08</td>
    </tr>
    <tr>
        <td>7</td>
        <td>16</td>
        <td>2021-10-15</td>
    </tr>
    <tr>
        <td>16</td>
        <td>29</td>
        <td>2021-10-01</td>
    </tr>
</tbody></table>

Pour cela, on peut √©crire l'ordre suivant :

```sql
DELETE FROM Emprunt
WHERE id_album = 25;
```

**Analyse** : 

* Apr√®s `DELETE` on indique dans quelle table on veut supprimer une ligne avec `FROM [nom_table]` ;
* Ensuite on pr√©cise avec `WHERE` la condition permettant de s√©lectionner les enregistrements √† supprimer (ici une seule ligne est supprim√©e car la condition `id_album = 25` ne correspond qu'√† un seul enregistrement).

On peut v√©rifier que la ligne correspondante a bien √©t√© supprim√©e de la table `Emprunt` :

```sql
SELECT * FROM Emprunt;
```

<table>
    <tbody><tr>
        <th>id_client</th>
        <th>id_album</th>
        <th>jour</th>
    </tr>
    <tr>
        <td>1</td>
        <td>5</td>
        <td>2021-09-10</td>
    </tr>
    <tr>
        <td>3</td>
        <td>8</td>
        <td>2021-08-18</td>
    </tr>
    <tr>
        <td>3</td>
        <td>24</td>
        <td>2021-08-18</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
        <td>2021-10-10</td>
    </tr>
    <tr>
        <td>9</td>
        <td>20</td>
        <td>2021-09-28</td>
    </tr>
    <tr>
        <td>11</td>
        <td>14</td>
        <td>2021-10-08</td>
    </tr>
    <tr>
        <td>7</td>
        <td>15</td>
        <td>2021-10-08</td>
    </tr>
    <tr>
        <td>7</td>
        <td>19</td>
        <td>2021-10-08</td>
    </tr>
    <tr>
        <td>7</td>
        <td>16</td>
        <td>2021-10-15</td>
    </tr>
    <tr>
        <td>16</td>
        <td>29</td>
        <td>2021-10-01</td>
    </tr>
</tbody></table>

**Remarque** : Avec le sch√©ma de la base de donn√©es il faut aussi mettre √† jour la table `Album` puisque l'album en question est √† nouveau disponible. La requ√™te de mise √† jour suivante permet de faire cela :

```sql
UPDATE Album
SET dispo = 1
WHERE id_album = 25;
```

### √Ä vous de jouer !

**Q10** : L'√©l√®ve Muller Marie ne devrait pas faire partie de la table `Note` car elle ne fait pas partie du m√™me lyc√©e que les autres √©l√®ves. √âcrivez et testez une requ√™te permettant de supprimer la ligne correspondante. *Vous v√©rifierez que la suppression a bien √©t√© effectu√©e !*

*R√©ponse* :

<br><br><br><br><br><br><br><br><br><br>

# Exercice 5 - Modification de la base du disquaire

<img class="centre image-responsive" src="data/vinyl.svg" alt="diagramme" width="200">

> On travaillera √† nouveau avec la base de donn√©es `disquaire.db` que vous trouverez dans l'archive de ce chapitre. Vous utiliserez le logiciel _DB Browser for SQLite_ ou le logiciel en ligne [sqliteonline.com](https://sqliteonline.com/) dans lesquels vous aurez au pr√©alable ouvert la base de donn√©es en question.

**Q1** : Le pr√©nom du client "Robert Pascal" a mal √©t√© saisi dans la base de donn√©es. En effet, son pr√©nom n'est pas *Pascal* mais *Pascale*. √âcrivez et testez une requ√™te permettant corriger cette erreur. *Vous v√©rifierez que la correction a bien √©t√© effectu√©e !*

*R√©ponse* : 

<br><br><br><br><br><br><br><br>

**Q2** : Un titre d'album a mal √©t√© saisi dans la base de donn√©es. Il faut remplacer *Riding With The King* par *Riding with the King*. √âcrivez et testez une requ√™te permettant corriger cette erreur. *Vous v√©rifierez que la correction a bien √©t√© effectu√©e !*

*R√©ponse* : 

<br><br><br><br><br><br><br><br>

**Q3** : Le client "Durand Julien" souhaite que les informations personnelles le concernant soient supprim√©es de la base de donn√©es (c'est son droit avec le RGPD). √âcrivez et testez la requ√™te permettant d'effectuer ces suppressions. *Vous v√©rifierez que la suppression a bien √©t√© effectu√©e !*

*R√©ponse* :

<br><br><br><br><br><br><br><br><br><br>

**Q4** : Essayez de supprimer le client "Dupont Florine". Quelle est l'erreur provoqu√©e ? Expliquez-la (voir Chapitre 1 si n√©cessaire).

*R√©ponse* :

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

# Exercice 6

On veut cr√©er une base de donn√©es ```baseHopital.db```  qui contiendra les trois tables suivantes (les cl√©s primaires sont en gras) :

<img alt="diagramme de la base" src="data/base_hopital.png">

On suppose que les dates sont donn√©es sous la forme `jj-mm-aaaa`.

**Q1** : Donner les commandes SQLite permettant de cr√©er ces tables.

*R√©ponse* :

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

**Q2** : On a oubli√© une colonne pour noter les codes postaux des patients. Donner la commande SQLite permettant cet ajout.

> <span style="font-size:1.6em">üÜò</span> Vous lirez la page suivant pour savoir comment ajouter une colonne √† une table avec `ALTER TABLE`: [https://sql.sh/cours/alter-table](https://sql.sh/cours/alter-table). *Cette commande n'est a priori pas au exigible en Terminale NSI !*

*R√©ponse* : 

<br><br><br><br><br><br>

**Q3** : Mme Anne Wizeunid, n√©e en 2000 et demeurant 3 rue des Pignons Verts 12345 Avonelit doit √™tre enregistr√©e comme patiente. Donner la commande SQLite correspondante.

*R√©ponse* :

<br><br><br><br><br><br>

**Q4** : Le patient num√©ro 100 a chang√© de genre et est maintenant une femme. Donner la commande SQLite modifiant en cons√©quence ses donn√©es.

*R√©ponse* :

<br><br><br><br><br><br><br><br>

**Q5** : Par souci d'√©conomie, la direction d√©cide de se passer des m√©decins sp√©cialis√©s en √©pid√©miologie. Donner la commande permettant de supprimer leurs fiches.

*R√©ponse* :

<br><br><br><br>

**Q6** : Donner la requ√™te permettant d'obtenir la liste des pr√©noms et noms des patientes habitant le Finist√®re tri√©es dans l'ordre croissant des √¢ges.

*R√©ponse* : 

<br><br><br><br><br><br><br><br>

**Q7** : Donner la liste des patient(e)s ayant √©t√© examin√©(e)s par un(e) psychiatre en avril 2020.

*R√©ponse* : 

<br><br><br><br><br><br><br><br><br><br><br><br>

# Exercice 7 - S'entra√Æner en ligne

> Vous utiliserez le site r√©alis√© par Jean Le Coupannec, un grand merci √† lui pour cette ressource !

Rendez-vous sur la page [http://colbert.bzh/nsi/sql/](http://colbert.bzh/nsi/sql/) et suivez les deux TP directement en ligne pour r√©viser la plupart des notions du chapitre.

## TP1 : Gestion d'un r√©seau d'agences de location de voitures

![diagramme de la bdd](data/locations.png)

## TP2 : Le championnat de France 2015-2016

![diagramme de la bdd](data/soccer.png)

---

**R√©f√©rences :**

- [Exercices sur le langage SQL](https://glassus.github.io/terminale_nsi/T4_Bases_de_donnees/4.2_Langage_SQL/02_exercices/#exercice-1) propos√©s par Gilles Lassus pour la d√©couverte des sites [sqlzoo.net](https://sqlzoo.net/wiki/SQL_Tutorial) (Exercice 3) et [http://colbert.bzh/nsi/sql/](http://colbert.bzh/nsi/sql/) de Jean Le Coupannec (Exercice 7).
- Livre *Prepabac NSI, Tle*, G. Connan, V. Petrov, G. Rozsavolgyi, L. Signac, √©ditions HATIER, pour l'id√©e de l'exercice 4 ainsi que l'exercice 6.

---
Germain BECKER, Lyc√©e Mounier, ANGERS

Ressource √©ducative libre distribu√©e sous [Licence Creative Commons Attribution - Pas d‚ÄôUtilisation Commerciale - Partage dans les M√™mes Conditions 4.0 International](http://creativecommons.org/licenses/by-nc-sa/4.0/) 

![Licence Creative Commons](https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png)