# Introduction

Prenons l'exemple d'un répertoire téléhonique. Nous pouvons la modéliser simplement comme un tableau (ou liste) de tableaux `[nom,numéro]`

In [27]:
liste_tel = [["Paul", 5234],
             ["Emile", 5345],
             ["Victor", 5186],
             ["Rose", 5678],
             ["Hélène", 5432]]

Si nous voulons appeler *Rose*, nous avons deux possibilités avec un tel tableau :
* soit il faut savoir que les informations la concernant sont dans le quatrième élément de la liste (ce qui ne semble pas très pratique et réaliste)

In [14]:
print(liste_tel[3][1]) # il faut savoir que l'index de Rose est 3

5678

* soit nous cherchons dans le tableau en partant du premier élément de la liste jusqu'à ce que nous trouvions *Rose* (ce qui revient à feuilleter son répertoire) : cela nécessite d'utiliser une boucle pour parcourir le tableau.

In [13]:
for element in liste_tel:
    if element[0] == 'Rose':
        print(element[1])

5678

Vous conviendrez que ce n'est pas pratique pour accéder à son numéro de téléphone. De même, la modification ou l'ajout d'un information nécessiterait de devoir feuilleter tout le répertoire. Il semblerait plus pratique d'associer un nom à un numéro, autrement dit d'associer à une **information** à une **clé**.

C'est ce que les dictionnaires permettent !

# Les dictionnaires en Python

<div class="important">
    Un dictionnaire est un ensemble <strong>non ordonné</strong> de paires (clé, valeur) avec un accès très rapide à la valeur à partir de la clé.
</div>

On peut ajouter des couples, si la clé figure déjà dans le dictionnaire alors le couple est remplacé par le nouveau. Une **clé** peut être de type alphabétique, numérique, ou même de type construit sous certaines conditions. Les **valeurs** pourront être de tout type sans exclusion. En Python, le dictionnaire est un objet **mutable**, autrement dit, on peut le modifier.

## Création d'un dictionnaire

Plusieurs méthodes permettent de créer soit un dictionnaire vide, soit de le noter en extension, soit par compréhension.

In [31]:
d1 = {}     # Création d'un dictionnaire vide
d2 = dict() # Création d'un dictionnaire vide (autre méthode)
d3 = {'poires': 5, 'bananes': 7, 'abricots' : 12} # création d'un dictionnaire par extension
d4 = {k: k**2 for k in range(1, 10)} # création d'un dictionnaire par compréhension

print(type(d1))

<class 'dict'>

In [32]:
print("d1 =>", d1)
print("d2 =>", d2)
print("d3 =>", d3)
print("d4 =>", d4)

d1 => {}
d2 => {}
d3 => {'poires': 5, 'bananes': 7, 'abricots': 12}
d4 => {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Il est même possible de créer un dictionnaire à partir d'une liste de couples.

In [33]:
liste = [('cle1','valeur1'),('cle2','valeur2')]
d5 = dict(liste)
liste_tel = [["Paul", 5234], ["Emile", 5345], ["Victor", 5186], ["Rose", 5678], ["Hélène", 5432]]
d6 = dict(liste_tel)

print("d5 =>", d5)
print("d6 =>", d6)

d5 => {'cle1': 'valeur1', 'cle2': 'valeur2'}
d6 => {'Paul': 5234, 'Emile': 5345, 'Victor': 5186, 'Rose': 5678, 'Hélène': 5432}

> **Important** : Vous aurez noté que les dictionnaires Python se représentent entre accolades `{}`. Les différentes paires sont séparées par des virgules et sont de la forme `clé: valeur`.

---
### Activité 1 

Créez un dictionnaire appelé `notes` qui contient les paires (matières, moyenne) de vos trois spécialités. Affichez ensuite ce dictionnaire.

In [ ]:
# à vous de jouer !

---
## Accès, modification, ajout, suppression

L'**accès** à une valeur d'un dictionnaire se fait par sa clé.

In [39]:
d3 = {'poires': 5, 'bananes': 7, 'abricots' : 12}
d3['abricots']

12

Le dictionnaire étant un objet *mutable* on peut **modifier** la valeur associée à une clé ou **ajouter** une nouvelle association et afficher le dictionnaire modifié.

In [49]:
d = {'Paul': 5234, 'Emile': 5345, 'Victor': 5186, 'Rose': 5678, 'Hélène': 5432}
d['Rose'] = 4921    # clé existante donc modification de la valeur
d['Louane'] = 4118  # nouvelle clé donc ajout d'une nouvelle association
print(d)

{'Paul': 5234, 'Emile': 5345, 'Victor': 5186, 'Rose': 4921, 'Hélène': 5432, 'Louane': 4118}

Pour **supprimer** une association d'un dictionnaire on peut utilise le mot clé `del`.

In [50]:
print(d)
del d['Paul']
print(d)

{'Paul': 5234, 'Emile': 5345, 'Victor': 5186, 'Rose': 4921, 'Hélène': 5432, 'Louane': 4118}
{'Emile': 5345, 'Victor': 5186, 'Rose': 4921, 'Hélène': 5432, 'Louane': 4118}

## Taille d'un dictionnaire

La fonction `len` renvoie la taille d'un dictionnaire.

In [45]:
d3 = {'poires': 5, 'bananes': 7, 'abricots' : 12}
len(d3)

3

---
### Activité 2

On reprend le dictionnaire `notes` de l'activité 1.

1. Affichez la moyenne de NSI.

2. Modifiez votre moyenne de NSI qui a gagné 2 points. Affichez le dictionnaire.

3. Ajoutez la matière `Anglais` avec sa moyenne. Affichez le dictionnaire.

4. Affichez la taille du dictionnaire.

5. Supprimez une des trois spécialités et affichez le dictionnaire.

---

# Les itérateurs pour les dictionnaires

Il est possible de parcourir un dictionnaire de trois manières :

- parcourir l'ensemble des **clés** avec la méthode `keys()` ;
- parcourir l'ensemble des **valeurs** avec la méthode `values()` ;
- parcourir l'ensemble des **paires clés-valeurs** avec la méthode `items()`.

On peut itérer sur un dictionnaire grâce à l'une de ces méthodes.

In [51]:
d = {'Paul': 5234, 'Emile': 5345, 'Victor': 5186, 'Rose': 5678, 'Hélène': 5432}
for prenom in d.keys():
    print(prenom)

Paul
Emile
Victor
Rose
Hélène

In [52]:
for num in d.values():
    print(num)

5234
5345
5186
5678
5432

In [53]:
for prenom, num in d.items():
    print(prenom, '->', num)

Paul -> 5234
Emile -> 5345
Victor -> 5186
Rose -> 5678
Hélène -> 5432

On peut aussi interroger l'appartenance d'une valeur ou d'une clé grâce au mot clé `in`.

In [56]:
'John' in d.keys()

False

In [59]:
'Paul' not in d.keys()

False

In [57]:
5186 in d.values()

True

---
### Activité 3

On considère le dictionnaire `fruits` suivant.

In [54]:
fruits = {'poires': 5, 'pommes': 11, 'bananes': 7, 'abricots' : 12}

1. Affichez tous les fruits du dictionnaire.

2. Affichez toutes les quantités du dictionnaire.

3. Ecrivez un programme permettant d'obtenir l'affichage suivant.

```
Il reste 5 poires
Il reste 11 pommes
Il reste 7 bananes
Il reste 12 abricots
```

---

**Références**

- Ressources pédagogiques du DIU EIL, Université de Nantes, C. DECLERQ.

---
Germain BECKER & Sébastien POINT, Lycée Mounier, ANGERS ![Licence Creative Commons](https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png)