**Un petit point sur les _notebooks_ avant de démarrer !**

<img class="centre image-responsive" src="jupyter_logo.svg" alt="logo Jupyter" width="100">

Nous utiliserons beaucoup cette année les **notebooks** de l'application web *Jupyter*. Il s'agit d'interfaces de programmation interactives permettant de mélanger du texte (écrit dans le format markdown) et du code en Python (entre autres). Ces notebooks sont très utilisés en science des données (*data science*) car ils facilitent le partage et la reproductibilité des résultats. Il sont très pratiques pour l'apprentissage du langage Python.

On peut écrire en Python exactement comme avec n'importe quel éditeur et le code peut directement être exécuté dans le notebook. Pour cela, il suffit de se positionner sur la cellule de votre code et de cliquer sur le bouton `▶ Exécuter` de la barre d'outils ou de manière plus efficace directement au clavier avec le raccourci `Maj + Entrée`.

**Petit point sur l'affichage de valeurs**

Dans un *notebook*, tout comme dans une console, si on veut connaître la valeur d'une variable, il n'est pas nécessaire d'utiliser la fonction `print`. Il suffit pour cela de taper en dernière ligne le nom de la variable que l'on veut évaluer.

In [1]:
prix = 35
prix_remise = prix * 0.8 # remise de 20 %
prix # ne sera pas affiché
prix_remise # sera évalué et renvoyé car en dernière ligne

28.0

On peut afficher les valeurs des deux variables `prix` et `prix_remise` en les séparant par une virgule en dernière ligne.

In [2]:
prix = 35
prix_remise = prix * 0.8
prix, prix_remise # ici un couple est renvoyé

(35, 28.0)

On peut aussi utiliser la fonction `print` :

In [3]:
prix = 35
prix_remise = prix * 0.8 # remise de 20 %
print(prix, prix_remise)

35 28.0

En revanche, si vous souhaitez afficher des valeurs, à plusieurs endroits d'un programme, il faudra nécessairement utiliser la fonction `print`.

In [4]:
a = 5
print(a)
a = 2 * a
print(a)
a = a - 10
print(a)

5
10
0

---

<h1 style="font-size: 30px; text-align: center">Les types de base en Python</h1>


# Introduction 

Dans un algorithme, des variables sont utilisées pour stocker des valeurs. Les variables de base sont celles permettant de stocker : 
- des nombres entiers ; 
- des nombres réels ;
- des caractères ou des chaînes de caractères ; 
- des booléens.

Ces variables sont bien sûr de nature différente. Dans un langage de programmation, comme Python, on parle du **type** d'une variable. Les types et valeurs de base en Python sont donc :

- `int`: nombres entiers (de l'anglais *integer*, signifiant &laquo; entier &raquo; en anglais)
- `float` : nombres flottants (de l'anglais *floating*, signifiant &laquo; flottant &raquo; en anglais)
- `str` : caractères et chaînes de caractères (de l'anglais *string*, signifiant &laquo; chaine &raquo; en anglais)
- `bool` : booléens (de l'anglais *boolean*, signifiant &laquo; booléan &raquo; en anglais)

**Typage automatique en Python**

Une des particularités du langage Python vient du fait que le *typage* des variables est automatique : cela signifie qu’il n’y a pas besoin de définir le type d'une variable, cela se fait automatiquement selon la façon dont on déclare la variable.

C'est ce qui fait de Python (entre autre) un langage simple à apprendre. En revanche, cela a pour inconvénient de toujours avoir en tête la nature des variables manipulées, pour éviter par exemple d'additionner un nombre avec une chaîne de caractères.

Pour connaître le type d'une variable Python, il suffit d'utiliser la fonction `type` qui renvoie le type de la variable passée en paramètre. Par exemple :

In [1]:
A = 5
print(type(A))
N = 3.14
print(type(N))
t = "bonjour"
print(type(t))
b = (A > 4)
print(type(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Le type `int`

Les variables de type `int` représentent des entiers (naturels et relatifs). Les calculs mettant en jeu ce type de variables utilisent les opérateurs classiques, regroupés dans le tableau ci-dessous.

| **Opération** | **Opérateur Python** |
| --- | --- | 
| Addition  | + |
| Soustraction | - |
| Multiplication | * |
| Division | / |
| Puissance | ** |
| Division entière | // |
| Reste entier | % |

> Vous devez absolument connaître ces opérateurs, notamment les trois derniers, vous l'aurez compris.

In [2]:
age = 16
print(age)
print(type(age))

age = age + 1
print(age)

age = age - 3
print(age)

age = age * 2
print(age)

age = age / 5
print(age) # remarquez que la variable 'age' est désormais de type float

16
<class 'int'>
17
14
28
5.6

In [5]:
a = 4
b = 10
c = 2*b + a
d = b ** 3 # puissance 3
print(a, b, c, d) # on peut afficher plusieurs valeurs en les séparant par des virgules

4 10 24 1000

In [4]:
q = 14 // 5 # division entière
r = 14 % 5 # reste entier
print(q)
print(r)
print("14 = ", q, "*5 +", r)

2
4
14 =  2 *5 + 4

# Le type `float`

Les nombres à virgule flottante sont des nombres décimaux. On les appelle **nombres flottants** et, pour simplier, on va considérer pour le moment qu'ils correspondent aux nombres réels (vous verrez plus tard dans l'année que c'est plus compliqué que cela).

<blockquote class="attention">
<p><strong>ATTENTION</strong> : la virgule est codée par un point <code>.</code>, c'est la notation anglaise des nombres décimaux.</p>
</blockquote>

Pour déclarer un nombre flottant, il suffit d'utiliser le `.` :

In [5]:
b = 17.0
print(b)
print(type(b))

c = 14.0 / 3.0
print(c)

c = 14.0 // 3.0 # on peut aussi faire la division entière de deux flottants
print(c)

17.0
<class 'float'>
4.666666666666667
4.0

Le quotient, avec l'opérateur `/`, de deux nombres entiers (de type `int`) renvoie un nombre de type `float`.

In [6]:
c = 14 / 3
print(c, type(c)) # de type float

4.666666666666667 <class 'float'>

# Le type `str`

Les chaînes de caractères sont énorméments utilisées en programmation. On dit *string* en anglais, d'où l'appelation `str`.

C'est grâce à elles que l'on peut manipuler des mots, des phrases, des textes, des fichiers, etc.

Pour déclarer une chaîne de caractères, il suffit d'utiliser les guillemets (simples ou doubles).

In [7]:
nom = "Dupont" # guillements doubles
print(nom)
print(type(nom))

prenom = 'Pierre' # ou guillemets simples
print(prenom)
print(type(prenom))

print(nom, prenom)

Dupont
<class 'str'>
Pierre
<class 'str'>
Dupont Pierre

**Remarque :** on peut aussi utiliser des triples guillemets si on souhaite écrire une chaîne de caractères sur plusieurs lignes.

In [8]:
chaine = '''on peut aussi utiliser des triples guillemets 
si on souhaite écrire une chaîne de caractères 
sur plusieurs lignes'''
print(chaine) # vous remarquerez que l'affichage se fait aussi sur plusieurs lignes

on peut aussi utiliser des triples guillemets
si on souhaite écrire une chaîne de caractères
sur plusieurs lignes

## Concaténation de chaînes

La concaténation désigne la mise bout à bout de plusieurs chaînes de caractères. L'opérateur `+` permet de concaténer deux chaînes de caractères.

In [9]:
nom = "Dupont"
prenom = "Pierre"

chaine  = nom + prenom
print(chaine)

chaine = prenom + nom
print(chaine)

chaine = prenom + " " + nom
print(chaine)

chaine = chaine + ' a 18 ans '
print(chaine)

# on ne peut pas concaténer une chaine est un nombre de type int ou float, une erreur est renvoyée
chaine = chaine + 15

DupontPierre
PierreDupont
Pierre Dupont
Pierre Dupont a 18 ans

TypeError: can only concatenate str (not "int") to str

## Longueur d'une chaîne de caractères

La fonction `len` permet de renvoyer le nombre caractères d'une chaîne de caractères donnée en argument.

In [10]:
nom = "Dupont"
print(len(nom))

nom = "Dupont "
print(len(nom)) # les espaces sont aussi comptabilisés !

6
7

## Indexage des caractères

Un texte ou une chaine de caractères est une suite de caractères dont chacun est numéroté. Voici un exemple :

![Index_chaines_de_caracatères](https://upload.wikimedia.org/wikipedia/commons/a/a9/Apprendre_%C3%A0_programmer_avec_Python_31.png)

- Les indices commencent à 0 !
- Le premier caractère &laquo; J &raquo; est celui d'**indice** 0. On dit aussi que &laquo; J &raquo; est d'**index** 0.
- Le caractère &laquo; i &raquo; est celui d'indice 3 (c'est le 4ème caractère)

On peut facilement extraire le caractère souhaité en précisant sont index entre crochets `[]` :

In [11]:
ch = "Juliette"
print(ch[0]) 
print(ch[3])
print(ch[7])

J
i
e

In [12]:
ch = "Juliette"
a = ch[0]
b = ch[7]
mot = a + b
mot

'Je'

## Extraire un groupe de caractères (slicing)

On peut également extraire un groupe de caractères d'une chaîne, on parle de **slicing**.

`chaine[debut:fin]` permet de récupérer les caractères d'indices compris entre `debut` et **`fin` - 1**.

In [13]:
nom = "Dupont"
nom[0:4] # extrait les 4 premiers caractères

'Dupo'

In [14]:
nom = "Dupont"
nom[2:5] # extrait les caractères d'index 2, 3 et 4

'pon'

On peut également récupérer un certain nombre de caractères en partant du début ou de la fin.

In [15]:
prenom = "Stéphane"
prenom[:3] # extrait les 3 premiers caractères

'Sté'

In [16]:
prenom[4:] # extrait les 4 derniers caractères

'hane'

## Séquences d'échappement

Les séquences d'échappement sont des séquences de caractères jouant un rôle particulier dans une chaîne de caractères.

Il en existe beaucoup, nous n'en citerons ici que trois.

- La séquence d'échappement `\n` : nouvelle ligne

In [17]:
chaine  = "Première ligne \nDeuxième ligne"
print(chaine)

Première ligne
Deuxième ligne

- La séquence d'échappement `\'` : apostrophe

In [18]:
chaine = 'Aujourd'hui'
print(chaine)

SyntaxError: invalid syntax (<ipython-input-18-098542273c32>, line 1)

In [19]:
chaine = 'Aujourd\'hui' # permet d'écrire un apostrophe dans une chaine définie par des apostrophes
print(chaine)

Aujourd'hui

- la séquence d'échappement `\t` : tabulation horizontale

In [20]:
chaine = "Dupont Pierre \t 0612345678" # permet d'ajouter une tabulation horizontale
print(chaine)

Dupont Pierre 	 0612345678

# Le type `bool`

Une variable booléenne ne peut prendre que deux valeurs distinctes. En Python, ces deux valeurs sont notées `True` et `False` (avec un T et un F majuscules).

Ces booléens (*boolean* en anglais) sont destinés à représenter les valeurs de vérité de la logique et l'algèbre booléenne, ce que vous étudierez un peu plus tard dans l'année. 

Le type de données booléen est principalement associé à des états conditionnels.

In [21]:
choix = True
type(choix)

bool

## Les opérateurs de comparaison

Voici les opérateurs de comparaisons classiques :

| **Opérateur** | **Signification** |
| --- | --- | 
| <  | strictement inférieur |
| <= | inférieur ou égal |
| > | strictement supérieur |
| >= | supérieur ou égal |
| == | égal |
| != | différent |

In [22]:
b = 10
print(b > 8)
print(b == 5) # double égal pour tester l'égalité de deux expressions
print(b != 10)
print(0 <= b < 10)
print(5 <= b <= 10)

True
False
False
False
True

## Les opérateurs logiques

Ce sont les opérateurs permettant d'effectuer des opérations sur les booléens.
Avec les opérateurs `not`, `or` et `and` on peut effectuer toutes les opérations logiques que l'on souhaite. Vous étudierez cela plus en détails bientôt.

Voici quelques exemples en Python.

In [23]:
b = 10
a = (b == 10)
print(a)
print(not(a)) # renvoie la négation du booléen 'a'

True
False

In [24]:
note = 13.0
mention_ab = note >= 12.0 and note < 14.0 # renvoie Vrai uniquement si les deux conditions sont vraies
mention_ab

True

In [25]:
note = 13.0
booleen = note > 10 or note > 15.0 # il suffit que l'une ou l'autre des conditions soit vraie pour renvoyer Vrai
booleen

True

---
**Références :**

- *Apprenenez à programmer en Python*, Vincent LE GOFF, OpenClassrooms
- Documents ressources du DIU EIL, Université de Nantes, Christophe DECLERCQ.
- Fabrice Sincère : http://fsincere.free.fr/isn/python/cours_python_ch1.php

---
Germain BECKER & Sébastien POINT, Lycée Mounier, ANGERS ![Licence Creative Commons](https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png)