# Recherche dichotomique

Voici l'algorithme de recherche dichotomique vu dans le cours

In [1]:
def recherche_dichotomique(v, T):
    """renvoie une position de v dans le tableau T,
    supposé trié, et None si v ne s'y trouve pas"""
    g = 0
    d = len(T) - 1
    while g <= d:
        m = (g + d) // 2
        if v < T[m]:
            d = m - 1
        elif v > T[m]:
            g = m + 1
        else:
            return m
    return None

**Exercice 1**

Quelles sont les instructions à écrire pour vérifier vos réponses aux exercices 9 et 10 ?

In [3]:
# EXERCICE 9
recherche_dichotomique(9, [1, 2, 2, 5, 6, 6, 7, 9, 9, 10, 10, 13, 13, 15])

8

In [4]:
# EXERCICE 10
recherche_dichotomique(3, [1, 1, 2, 4, 5, 6, 6, 7, 9, 10, 10, 13])

**Exercice 2**
1. Modifiez la fonction `recherche_dichotomique(v, T)` pour afficher le nombre total de tours de boucle effectués par l'algorithme.

In [24]:
def recherche_dichotomique_nb_tours(v, T):
    """renvoie une position de v dans le tableau T,
    supposé trié, et None si v ne s'y trouve pas"""
    g = 0
    d = len(T) - 1
    nb_tours = 0  # AJOUT ICI
    while g <= d:
        nb_tours = nb_tours + 1 # ET ICI
        m = (g + d) // 2
        if v < T[m]:
            d = m - 1
        elif v > T[m]:
            g = m + 1
        else:
            print("nombre de tours effectués : ", nb_tours) # on affiche le nombre de tours avant de renvoyer la valeur
            return m
    print("nombre de tours effectués : ", nb_tours) # on affiche le nombre de tours avant de renvoyer None
    return None

2. Lancez le programme sur des tableaux de taille différentes (par exemple, 100, 1000, etc.) et observez le nombre de tours affichés. On pourra par exemple chercher la valeur 1 dans un tableau ne contenant que des valeurs 0, ce qui correspond au pire cas.

In [25]:
# Pour un tableau de taille 100 (ON TROUVE LA REPONSE A l'EXERCICE 13)
tab = [0]*100
recherche_dichotomique_nb_tours(1, tab)

nombre de tours effectués :  7

In [26]:
# Pour un tableau de taille 1000
tab = [0]*1000
recherche_dichotomique_nb_tours(1, tab)

nombre de tours effectués :  10

In [27]:
# Pour un tableau de taille 10000
tab = [0]*10000
recherche_dichotomique_nb_tours(1, tab)

nombre de tours effectués :  14

In [28]:
# Pour un tableau de taille 1 000 000
tab = [0]*1000000
recherche_dichotomique_nb_tours(1, tab)

nombre de tours effectués :  20

In [29]:
# Pour un tableau de taille 60 000 000  (ON TROUVE LA REPONSE A l'EXERCICE 14)
tab = [0]*60000000
recherche_dichotomique_nb_tours(1, tab)

nombre de tours effectués :  26

On peut aussi vérifier les réponses des exercices 11 et 12 :

In [30]:
# Exercice 11
recherche_dichotomique_nb_tours(7, [0,1,1,2,3,5,8,13,21])

nombre de tours effectués :  3

In [31]:
# Exercice 12
recherche_dichotomique_nb_tours(1, [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])

nombre de tours effectués :  5

In [32]:
# Exercice 12
recherche_dichotomique_nb_tours(2, [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2])

nombre de tours effectués :  5

15

**Exercice 3**

Ecrivez une fonction `nb_de_tours(n)` qui renvoie le plus petit entier `k` tel que `2^k > n`, c'est-à-dire le nombre maximal de valeurs examinées par la recherche dichotomique dans un tableau de taille `n`.

In [33]:
def nb_de_tours(n):
    k = 1
    while 2**k <= n:
        k = k + 1
    return k

In [34]:
nb_de_tours(100)

7

In [35]:
nb_de_tours(60000000)

26