<h1 style="font-size: 30px; text-align: center">Langage SQL - Activité d'introduction</h1>

---

Dans cette activité, vous allez découvrir comment effectuer des requêtes sur une table d'une base de données, en utilisant le langage SQL (pour *Structured Query Language*). 

Pour cela, nous allons travailler avec une table déjà étudiée l'année dernière en classe de Première, ce sera l'occasion de faire le lien avec ce qui a été vu l'an dernier.

Voici un extrait de la table utilisée l'année dernière :

| **prénom** | **jour** | **mois** | **année** | **sexe** | **groupe** | **projet** |
| --- | --- | --- | --- | --- | --- | --- |
| Loona | 29 | 11 | 2005 | F | 1 | être heureuse |
| Quentin | 28 | 5 | 2005 | G | 2 | manger une glace |
| Sania | 30 | 7 | 2005 | F | 1 | gagner au loto |
| Yanis | 14 | 4 | 2005 | G | 1 | devenir quelqu’un de célèbre |
| Nolan | 16 | 4 | 2005 | G | 2 | avoir une bonne note au prochain devoir |
| Mathis | 12 | 1 | 2005 | G | 1 | devenir astronaute |
| Hippolyte | 20 | 10 | 2005 | G | 2 | marcher sur la lune |
| Martial | 22 | 4 | 2005 | G | 2 | dormir plus longtemps le matin |
| Arthur | 10 | 8 | 2005 | G | 2 | µaider les autres |
| Aïris | 24 | 3 | 2005 | F | 2 | apprendre à piloter une Formule 1 |
| ... | ... | ... | ... | ... | ... | ... |

Cette dernière était stockée dans un fichier `eleves.csv` que l'on pouvait importer en Python pour mémoriser son contenu dans un tableau de dictionnaires `eleves` :

In [1]:
import csv
fichier = open('eleves.csv', 'r', encoding = 'UTF-8')  # ouverture du fichier
# Lecture de son contenu avec la méthode DictReader qui renvoie une valeur spéciale représentant le fichier CSV
table = csv.DictReader(fichier, delimiter=',')  # caractère de séparation : la virgule
eleves = [dict(ligne) for ligne in table]  # chaque élément est un dictionnaire
fichier.close()  # fermeture du fichier
print(eleves) # pour afficher le contenu du tableau 'eleves'

[{'prénom': 'Loona', 'jour': '29', 'mois': '11', 'année': '2005', 'sexe': 'F', 'groupe': '1', 'projet': 'être heureuse'}, {'prénom': 'Quentin', 'jour': '28', 'mois': '5', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'manger une glace'}, {'prénom': 'Sania', 'jour': '30', 'mois': '7', 'année': '2005', 'sexe': 'F', 'groupe': '1', 'projet': 'gagner au loto'}, {'prénom': 'Yanis', 'jour': '14', 'mois': '4', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'devenir quelqu’un de célèbre'}, {'prénom': 'Nolan', 'jour': '16', 'mois': '4', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'avoir une bonne note au prochain devoir'}, {'prénom': 'Mathis', 'jour': '12', 'mois': '1', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'devenir astronaute'}, {'prénom': 'Hippolyte', 'jour': '20', 'mois': '10', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'marcher sur la lune'}, {'prénom': 'Martial', 'jour': '22', 'mois': '4', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'dormir plus longtemps le matin'}, {'prénom': 'Arthur', 'jour': '10', 'mois': '8', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'aider les autres'}, {'prénom': 'Aïris', 'jour': '24', 'mois': '3', 'année': '2005', 'sexe': 'F', 'groupe': '2', 'projet': 'apprendre à piloter une Formule 1'}, {'prénom': 'Léo', 'jour': '28', 'mois': '7', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'devenir président'}, {'prénom': 'Romain', 'jour': '23', 'mois': '1', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'créer un jeu vidéo'}, {'prénom': 'Tanguy', 'jour': '9', 'mois': '6', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'gérer sa propre entreprise'}, {'prénom': 'Nolwenn', 'jour': '24', 'mois': '11', 'année': '2005', 'sexe': 'F', 'groupe': '2', 'projet': 'jouer dans le prochain James Bond'}, {'prénom': 'Célian', 'jour': '17', 'mois': '11', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'gagner le Tour de France'}, {'prénom': 'Rayane', 'jour': '23', 'mois': '1', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'devenir champion du monde de bras de fer'}, {'prénom': 'Ancelin', 'jour': '15', 'mois': '1', 'année': '2007', 'sexe': 'G', 'groupe': '2', 'projet': 'devenir youtuber'}, {'prénom': 'Ewen', 'jour': '16', 'mois': '5', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'avoir son émission de TV'}, {'prénom': 'Nolan', 'jour': '16', 'mois': '5', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'écrire un livre'}, {'prénom': 'Valentin', 'jour': '8', 'mois': '8', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'inventer la machine à voyager dans le temps'}, {'prénom': 'Mathis', 'jour': '14', 'mois': '1', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'devenir une rockstar'}, {'prénom': 'Jade', 'jour': '14', 'mois': '3', 'année': '2005', 'sexe': 'F', 'groupe': '2', 'projet': 'développer une application'}, {'prénom': 'Charles', 'jour': '23', 'mois': '1', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'ouvrir un restaurant'}, {'prénom': 'Sylliane', 'jour': '7', 'mois': '6', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'aller à Poudlard'}, {'prénom': 'Clément', 'jour': '6', 'mois': '12', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'monter le tapis rouge à Cannes'}, {'prénom': 'Kilian', 'jour': '3', 'mois': '11', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'gagner un Oscar'}, {'prénom': 'Haroun', 'jour': '27', 'mois': '5', 'année': '2004', 'sexe': 'G', 'groupe': '1', 'projet': 'devenir un joueur professionel de billard'}, {'prénom': 'Hugo', 'jour': '10', 'mois': '1', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'sortir un film'}, {'prénom': 'Lois', 'jour': '17', 'mois': '11', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'créer un objet révolutionnaire'}, {'prénom': 'Agathe', 'jour': '15', 'mois': '7', 'année': '2005', 'sexe': 'F', 'groupe': '2', 'projet': "devenir championne du monde d'échecs"}, {'prénom': 'Baptiste', 'jour': '10', 'mois': '12', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'manger des frites tous les jours à la cantine'}, {'prénom': 'Sébastien', 'jour': '14', 'mois': '1', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'devenir champion olympique'}, {'prénom': 'Nicolas', 'jour': '24', 'mois': '4', 'année': '2006', 'sexe': 'G', 'groupe': '2', 'projet': 'participer à The Voice'}, {'prénom': 'Maé', 'jour': '18', 'mois': '8', 'année': '2005', 'sexe': 'F', 'groupe': '2', 'projet': 'enregistrer un album'}, {'prénom': 'Nolan', 'jour': '25', 'mois': '7', 'année': '2005', 'sexe': 'G', 'groupe': '1', 'projet': 'acheter une Ferrari'}, {'prénom': 'Timothé', 'jour': '11', 'mois': '1', 'année': '2006', 'sexe': 'G', 'groupe': '1', 'projet': 'participer au trophée Jules Verne'}, {'prénom': 'Inès', 'jour': '13', 'mois': '12', 'année': '2005', 'sexe': 'F', 'groupe': '1', 'projet': 'battre le record du monde du marathon'}, {'prénom': 'Kylian', 'jour': '13', 'mois': '3', 'année': '2005', 'sexe': 'G', 'groupe': '2', 'projet': 'battre Usain Bolt'}]

Par défaut, toutes les valeurs sont mémorisées comme des chaînes de caractères, y compris le jour, le mois et l'année. On peut effectuer un prétraitement pour convertir en type `int` chaque valeur associée aux clés `'jour'`, `'mois'`, `'annee'` et `'groupe'` :

In [2]:
eleves = [
    {'prénom': e['prénom'],
     'jour': int(e['jour']),
     'mois': int(e['mois']),
     'année': int(e['année']),
     'sexe': e['sexe'],
     'groupe': int(e['groupe']),
     'projet': e['projet']} for e in eleves
]

print(eleves)

[{'prénom': 'Loona', 'jour': 29, 'mois': 11, 'année': 2005, 'sexe': 'F', 'groupe': 1, 'projet': 'être heureuse'}, {'prénom': 'Quentin', 'jour': 28, 'mois': 5, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'manger une glace'}, {'prénom': 'Sania', 'jour': 30, 'mois': 7, 'année': 2005, 'sexe': 'F', 'groupe': 1, 'projet': 'gagner au loto'}, {'prénom': 'Yanis', 'jour': 14, 'mois': 4, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'devenir quelqu’un de célèbre'}, {'prénom': 'Nolan', 'jour': 16, 'mois': 4, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'avoir une bonne note au prochain devoir'}, {'prénom': 'Mathis', 'jour': 12, 'mois': 1, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'devenir astronaute'}, {'prénom': 'Hippolyte', 'jour': 20, 'mois': 10, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'marcher sur la lune'}, {'prénom': 'Martial', 'jour': 22, 'mois': 4, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'dormir plus longtemps le matin'}, {'prénom': 'Arthur', 'jour': 10, 'mois': 8, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'aider les autres'}, {'prénom': 'Aïris', 'jour': 24, 'mois': 3, 'année': 2005, 'sexe': 'F', 'groupe': 2, 'projet': 'apprendre à piloter une Formule 1'}, {'prénom': 'Léo', 'jour': 28, 'mois': 7, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'devenir président'}, {'prénom': 'Romain', 'jour': 23, 'mois': 1, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'créer un jeu vidéo'}, {'prénom': 'Tanguy', 'jour': 9, 'mois': 6, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'gérer sa propre entreprise'}, {'prénom': 'Nolwenn', 'jour': 24, 'mois': 11, 'année': 2005, 'sexe': 'F', 'groupe': 2, 'projet': 'jouer dans le prochain James Bond'}, {'prénom': 'Célian', 'jour': 17, 'mois': 11, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'gagner le Tour de France'}, {'prénom': 'Rayane', 'jour': 23, 'mois': 1, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'devenir champion du monde de bras de fer'}, {'prénom': 'Ancelin', 'jour': 15, 'mois': 1, 'année': 2007, 'sexe': 'G', 'groupe': 2, 'projet': 'devenir youtuber'}, {'prénom': 'Ewen', 'jour': 16, 'mois': 5, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'avoir son émission de TV'}, {'prénom': 'Nolan', 'jour': 16, 'mois': 5, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'écrire un livre'}, {'prénom': 'Valentin', 'jour': 8, 'mois': 8, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'inventer la machine à voyager dans le temps'}, {'prénom': 'Mathis', 'jour': 14, 'mois': 1, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'devenir une rockstar'}, {'prénom': 'Jade', 'jour': 14, 'mois': 3, 'année': 2005, 'sexe': 'F', 'groupe': 2, 'projet': 'développer une application'}, {'prénom': 'Charles', 'jour': 23, 'mois': 1, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'ouvrir un restaurant'}, {'prénom': 'Sylliane', 'jour': 7, 'mois': 6, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'aller à Poudlard'}, {'prénom': 'Clément', 'jour': 6, 'mois': 12, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'monter le tapis rouge à Cannes'}, {'prénom': 'Kilian', 'jour': 3, 'mois': 11, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'gagner un Oscar'}, {'prénom': 'Haroun', 'jour': 27, 'mois': 5, 'année': 2004, 'sexe': 'G', 'groupe': 1, 'projet': 'devenir un joueur professionel de billard'}, {'prénom': 'Hugo', 'jour': 10, 'mois': 1, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'sortir un film'}, {'prénom': 'Lois', 'jour': 17, 'mois': 11, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'créer un objet révolutionnaire'}, {'prénom': 'Agathe', 'jour': 15, 'mois': 7, 'année': 2005, 'sexe': 'F', 'groupe': 2, 'projet': "devenir championne du monde d'échecs"}, {'prénom': 'Baptiste', 'jour': 10, 'mois': 12, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'manger des frites tous les jours à la cantine'}, {'prénom': 'Sébastien', 'jour': 14, 'mois': 1, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'devenir champion olympique'}, {'prénom': 'Nicolas', 'jour': 24, 'mois': 4, 'année': 2006, 'sexe': 'G', 'groupe': 2, 'projet': 'participer à The Voice'}, {'prénom': 'Maé', 'jour': 18, 'mois': 8, 'année': 2005, 'sexe': 'F', 'groupe': 2, 'projet': 'enregistrer un album'}, {'prénom': 'Nolan', 'jour': 25, 'mois': 7, 'année': 2005, 'sexe': 'G', 'groupe': 1, 'projet': 'acheter une Ferrari'}, {'prénom': 'Timothé', 'jour': 11, 'mois': 1, 'année': 2006, 'sexe': 'G', 'groupe': 1, 'projet': 'participer au trophée Jules Verne'}, {'prénom': 'Inès', 'jour': 13, 'mois': 12, 'année': 2005, 'sexe': 'F', 'groupe': 1, 'projet': 'battre le record du monde du marathon'}, {'prénom': 'Kylian', 'jour': 13, 'mois': 3, 'année': 2005, 'sexe': 'G', 'groupe': 2, 'projet': 'battre Usain Bolt'}]

On a créé une base de données `eleves.db` qui ne contient que la *relation* `Eleve` suivante :

<pre style="padding-bottom:10px;">
    <code><em>Eleve</em>(<span style="padding-bottom:3px; border-bottom: 1px solid black;"><em>id_eleve</em></span> INT, <em>prenom</em> TEXT, <em>jour</em> INT, <em>mois</em> INT, <em>annee</em> INT, <em>sexe</em> TEXT, <em>groupe</em> INT, <em>projet</em> TEXT)</code>
</pre>

> On a ajouté un attribut `id_eleve`, pourquoi ?

**Remarque** : Le fichier `eleves.db` que nous utiliserons est accessible dans l'archive de ce chapitre.

# Utilisation d'un SGBD

Seul un logiciel de type SGBD (Système de Gestion de Bases de Données) peut manipuler les données présentes dans une base de données. 

Vous pouvez utiliser :

* **DB Browser for SQLite** qui est installé sur vos ordinateurs :
    * (ce logiciel est téléchargeable à l'adresse : [https://sqlitebrowser.org/](https://sqlitebrowser.org/))
    * Lancez le logiciel
    * Ouvrez le fichier `eleves.db` en le sélectionnant après avoir cliqué sur "Ouvrir une base de données"

* **sqliteonline** accessible en ligne à l'adresse [https://sqliteonline.com/](https://sqliteonline.com/).
    * Rendez-vous à l'adresse [https://sqliteonline.com/](https://sqliteonline.com/)
    * Cliquez sur _File_ puis sur _Open DB_ et sélectionnez le fichier `eleves.db`

# Première requête SQL

Commençons par une requête permettant d’afficher tout le contenu de la table `Eleve`.

```sql
SELECT * FROM Eleve;
```

**Analyse** :

* En SQL, chaque requête contient au moins les clauses `SELECT` et `FROM` et **se termine par un point-virgule**.
* Le mot-clé `SELECT` demande au SGBD d’afficher ce que contient une table.
* Après `SELECT`, il faut indiquer quels champs de la table, le SGBD doit récupérer dans celle-ci. Ici le caractère « `*` » indique qu’il faut récupérer **tous** les champs de la table.
* Après le `FROM` (de l’anglais « de ») on indique la table dans laquelle on veut récupérer des informations (ici `Eleve`)
* Bilan : cette requête se traduit par « prend tout ce qu’il y a dans la table `Eleve`, sous-entendu prend tous les champs de cette table.

**Q1** : Écrivez cette requête dans le SGBD puis exécutez-la. Vous devriez voir apparaître la table `Eleve` complète comme ci-dessous.

<table>
    <tbody><tr>
        <th>id_eleve</th>
        <th>prenom</th>
        <th>jour</th>
        <th>mois</th>
        <th>annee</th>
        <th>sexe</th>
        <th>groupe</th>
        <th>projet</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Loona</td>
        <td>29</td>
        <td>11</td>
        <td>2005</td>
        <td>F</td>
        <td>1</td>
        <td>être heureuse</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Quentin</td>
        <td>28</td>
        <td>5</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>manger une glace</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Sania</td>
        <td>30</td>
        <td>7</td>
        <td>2005</td>
        <td>F</td>
        <td>1</td>
        <td>gagner au loto</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Yanis</td>
        <td>14</td>
        <td>4</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>devenir quelqu’un de célèbre</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Nolan</td>
        <td>16</td>
        <td>4</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>avoir une bonne note au prochain devoir</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Mathis</td>
        <td>12</td>
        <td>1</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>devenir astronaute</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Hippolyte</td>
        <td>20</td>
        <td>10</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>marcher sur la lune</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Martial</td>
        <td>22</td>
        <td>4</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>dormir plus longtemps le matin</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Arthur</td>
        <td>10</td>
        <td>8</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>aider les autres</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Aïris</td>
        <td>24</td>
        <td>3</td>
        <td>2005</td>
        <td>F</td>
        <td>2</td>
        <td>apprendre à piloter une Formule 1</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Léo</td>
        <td>28</td>
        <td>7</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>devenir président</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Romain</td>
        <td>23</td>
        <td>1</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>créer un jeu vidéo</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Tanguy</td>
        <td>9</td>
        <td>6</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>gérer sa propre entreprise</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Nolwenn</td>
        <td>24</td>
        <td>11</td>
        <td>2005</td>
        <td>F</td>
        <td>2</td>
        <td>jouer dans le prochain James Bond</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Célian</td>
        <td>17</td>
        <td>11</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>gagner le Tour de France</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Rayane</td>
        <td>23</td>
        <td>1</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>devenir champion du monde de bras de fer</td>
    </tr>
    <tr>
        <td>17</td>
        <td>Ancelin</td>
        <td>15</td>
        <td>1</td>
        <td>2007</td>
        <td>G</td>
        <td>2</td>
        <td>devenir youtuber</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Ewen</td>
        <td>16</td>
        <td>5</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>avoir son émission de TV</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Nolan</td>
        <td>16</td>
        <td>5</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>écrire un livre</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Valentin</td>
        <td>8</td>
        <td>8</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>inventer la machine à voyager dans le temps</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Mathis</td>
        <td>14</td>
        <td>1</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>devenir une rockstar</td>
    </tr>
    <tr>
        <td>22</td>
        <td>Jade</td>
        <td>14</td>
        <td>3</td>
        <td>2005</td>
        <td>F</td>
        <td>2</td>
        <td>développer une application</td>
    </tr>
    <tr>
        <td>23</td>
        <td>Charles</td>
        <td>23</td>
        <td>1</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>ouvrir un restaurant</td>
    </tr>
    <tr>
        <td>24</td>
        <td>Sylliane</td>
        <td>7</td>
        <td>6</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>aller à Poudlard</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Clément</td>
        <td>6</td>
        <td>12</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>monter le tapis rouge à Cannes</td>
    </tr>
    <tr>
        <td>26</td>
        <td>Kilian</td>
        <td>3</td>
        <td>11</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>gagner un Oscar</td>
    </tr>
    <tr>
        <td>27</td>
        <td>Haroun</td>
        <td>27</td>
        <td>5</td>
        <td>2004</td>
        <td>G</td>
        <td>1</td>
        <td>devenir un joueur professionel de billard</td>
    </tr>
    <tr>
        <td>28</td>
        <td>Hugo</td>
        <td>10</td>
        <td>1</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>sortir un film</td>
    </tr>
    <tr>
        <td>29</td>
        <td>Lois</td>
        <td>17</td>
        <td>11</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>créer un objet révolutionnaire</td>
    </tr>
    <tr>
        <td>30</td>
        <td>Agathe</td>
        <td>15</td>
        <td>7</td>
        <td>2005</td>
        <td>F</td>
        <td>2</td>
        <td>devenir championne du monde d'échecs</td>
    </tr>
    <tr>
        <td>31</td>
        <td>Baptiste</td>
        <td>10</td>
        <td>12</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>manger des frites tous les jours à la cantine</td>
    </tr>
    <tr>
        <td>32</td>
        <td>Sébastien</td>
        <td>14</td>
        <td>1</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>devenir champion olympique</td>
    </tr>
    <tr>
        <td>33</td>
        <td>Nicolas</td>
        <td>24</td>
        <td>4</td>
        <td>2006</td>
        <td>G</td>
        <td>2</td>
        <td>participer à The Voice</td>
    </tr>
    <tr>
        <td>34</td>
        <td>Maé</td>
        <td>18</td>
        <td>8</td>
        <td>2005</td>
        <td>F</td>
        <td>2</td>
        <td>enregistrer un album</td>
    </tr>
    <tr>
        <td>35</td>
        <td>Nolan</td>
        <td>25</td>
        <td>7</td>
        <td>2005</td>
        <td>G</td>
        <td>1</td>
        <td>acheter une Ferrari</td>
    </tr>
    <tr>
        <td>36</td>
        <td>Timothé</td>
        <td>11</td>
        <td>1</td>
        <td>2006</td>
        <td>G</td>
        <td>1</td>
        <td>participer au trophée Jules Verne</td>
    </tr>
    <tr>
        <td>37</td>
        <td>Inès</td>
        <td>13</td>
        <td>12</td>
        <td>2005</td>
        <td>F</td>
        <td>1</td>
        <td>battre le record du monde du marathon</td>
    </tr>
    <tr>
        <td>38</td>
        <td>Kylian</td>
        <td>13</td>
        <td>3</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>battre Usain Bolt</td>
    </tr>
</tbody></table>

# Sélection de colonnes en SQL

**Rappel** : en classe de Première, on a effectué des projections sur les colonnes de la table. L’instruction suivante permet de créer une table `t` contenant les attributs `prenom` et `annee` de la table `eleves`. On dit que l'on fait ainsi une projection sur ces deux colonnes.

In [3]:
t = [{'prénom': e['prénom'], 'année': e['année']} for e in eleves]
t

[{'prénom': 'Loona', 'année': 2005},
 {'prénom': 'Quentin', 'année': 2005},
 {'prénom': 'Sania', 'année': 2005},
 {'prénom': 'Yanis', 'année': 2005},
 {'prénom': 'Nolan', 'année': 2005},
 {'prénom': 'Mathis', 'année': 2005},
 {'prénom': 'Hippolyte', 'année': 2005},
 {'prénom': 'Martial', 'année': 2005},
 {'prénom': 'Arthur', 'année': 2005},
 {'prénom': 'Aïris', 'année': 2005},
 {'prénom': 'Léo', 'année': 2005},
 {'prénom': 'Romain', 'année': 2005},
 {'prénom': 'Tanguy', 'année': 2005},
 {'prénom': 'Nolwenn', 'année': 2005},
 {'prénom': 'Célian', 'année': 2005},
 {'prénom': 'Rayane', 'année': 2005},
 {'prénom': 'Ancelin', 'année': 2007},
 {'prénom': 'Ewen', 'année': 2005},
 {'prénom': 'Nolan', 'année': 2005},
 {'prénom': 'Valentin', 'année': 2005},
 {'prénom': 'Mathis', 'année': 2005},
 {'prénom': 'Jade', 'année': 2005},
 {'prénom': 'Charles', 'année': 2005},
 {'prénom': 'Sylliane', 'année': 2005},
 {'prénom': 'Clément', 'année': 2005},
 {'prénom': 'Kilian', 'année': 2005},
 {'prénom': 'Haroun', 'année': 2004},
 {'prénom': 'Hugo', 'année': 2005},
 {'prénom': 'Lois', 'année': 2005},
 {'prénom': 'Agathe', 'année': 2005},
 {'prénom': 'Baptiste', 'année': 2005},
 {'prénom': 'Sébastien', 'année': 2005},
 {'prénom': 'Nicolas', 'année': 2006},
 {'prénom': 'Maé', 'année': 2005},
 {'prénom': 'Nolan', 'année': 2005},
 {'prénom': 'Timothé', 'année': 2006},
 {'prénom': 'Inès', 'année': 2005},
 {'prénom': 'Kylian', 'année': 2005}]

En SQL, il est possible de sélectionner certaines colonnes de la table simplement en indiquant après le `SELECT`, les noms des attributs à conserver.

Par exemple, la requête

```sql
SELECT prenom, annee FROM Eleve;
```

permet de ne sélectionner que les attributs `prenom` et `annee` de la table `Eleve` (on fait une projection sur ces deux attributs). Elle produit le résultat :

<table>
    <tbody><tr>
        <th>prenom</th>
        <th>sexe</th>
        <th>projet</th>
    </tr>
    <tr>
        <td>Loona</td>
        <td>F</td>
        <td>être heureuse</td>
    </tr>
    <tr>
        <td>Quentin</td>
        <td>G</td>
        <td>manger une glace</td>
    </tr>
    <tr>
        <td>Sania</td>
        <td>F</td>
        <td>gagner au loto</td>
    </tr>
    <tr>
        <td>Yanis</td>
        <td>G</td>
        <td>devenir quelqu’un de célèbre</td>
    </tr>
    <tr>
        <td>Nolan</td>
        <td>G</td>
        <td>avoir une bonne note au prochain devoir</td>
    </tr>
    <tr>
        <td>Mathis</td>
        <td>G</td>
        <td>devenir astronaute</td>
    </tr>
    <tr>
        <td>Hippolyte</td>
        <td>G</td>
        <td>marcher sur la lune</td>
    </tr>
    <tr>
        <td>Martial</td>
        <td>G</td>
        <td>dormir plus longtemps le matin</td>
    </tr>
    <tr>
        <td>Arthur</td>
        <td>G</td>
        <td>aider les autres</td>
    </tr>
    <tr>
        <td>Aïris</td>
        <td>F</td>
        <td>apprendre à piloter une Formule 1</td>
    </tr>
    <tr>
        <td>Léo</td>
        <td>G</td>
        <td>devenir président</td>
    </tr>
    <tr>
        <td>Romain</td>
        <td>G</td>
        <td>créer un jeu vidéo</td>
    </tr>
    <tr>
        <td>Tanguy</td>
        <td>G</td>
        <td>gérer sa propre entreprise</td>
    </tr>
    <tr>
        <td>Nolwenn</td>
        <td>F</td>
        <td>jouer dans le prochain James Bond</td>
    </tr>
    <tr>
        <td>Célian</td>
        <td>G</td>
        <td>gagner le Tour de France</td>
    </tr>
    <tr>
        <td>Rayane</td>
        <td>G</td>
        <td>devenir champion du monde de bras de fer</td>
    </tr>
    <tr>
        <td>Ancelin</td>
        <td>G</td>
        <td>devenir youtuber</td>
    </tr>
    <tr>
        <td>Ewen</td>
        <td>G</td>
        <td>avoir son émission de TV</td>
    </tr>
    <tr>
        <td>Nolan</td>
        <td>G</td>
        <td>écrire un livre</td>
    </tr>
    <tr>
        <td>Valentin</td>
        <td>G</td>
        <td>inventer la machine à voyager dans le temps</td>
    </tr>
    <tr>
        <td>Mathis</td>
        <td>G</td>
        <td>devenir une rockstar</td>
    </tr>
    <tr>
        <td>Jade</td>
        <td>F</td>
        <td>développer une application</td>
    </tr>
    <tr>
        <td>Charles</td>
        <td>G</td>
        <td>ouvrir un restaurant</td>
    </tr>
    <tr>
        <td>Sylliane</td>
        <td>G</td>
        <td>aller à Poudlard</td>
    </tr>
    <tr>
        <td>Clément</td>
        <td>G</td>
        <td>monter le tapis rouge à Cannes</td>
    </tr>
    <tr>
        <td>Kilian</td>
        <td>G</td>
        <td>gagner un Oscar</td>
    </tr>
    <tr>
        <td>Haroun</td>
        <td>G</td>
        <td>devenir un joueur professionel de billard</td>
    </tr>
    <tr>
        <td>Hugo</td>
        <td>G</td>
        <td>sortir un film</td>
    </tr>
    <tr>
        <td>Lois</td>
        <td>G</td>
        <td>créer un objet révolutionnaire</td>
    </tr>
    <tr>
        <td>Agathe</td>
        <td>F</td>
        <td>devenir championne du monde d'échecs</td>
    </tr>
    <tr>
        <td>Baptiste</td>
        <td>G</td>
        <td>manger des frites tous les jours à la cantine</td>
    </tr>
    <tr>
        <td>Sébastien</td>
        <td>G</td>
        <td>devenir champion olympique</td>
    </tr>
    <tr>
        <td>Nicolas</td>
        <td>G</td>
        <td>participer à The Voice</td>
    </tr>
    <tr>
        <td>Maé</td>
        <td>F</td>
        <td>enregistrer un album</td>
    </tr>
    <tr>
        <td>Nolan</td>
        <td>G</td>
        <td>acheter une Ferrari</td>
    </tr>
    <tr>
        <td>Timothé</td>
        <td>G</td>
        <td>participer au trophée Jules Verne</td>
    </tr>
    <tr>
        <td>Inès</td>
        <td>F</td>
        <td>battre le record du monde du marathon</td>
    </tr>
    <tr>
        <td>Kylian</td>
        <td>G</td>
        <td>battre Usain Bolt</td>
    </tr>
</tbody></table>

**Q2** : Écrivez et testez une requête SQL permettant de sélectionner uniquement les attributs `prenom`, `sexe` et `projet`.

*Réponse* :

```sql


```

# Sélectionner de lignes en SQL

**Rappel** : en classe de Première, on a sélectionné des lignes de la table vérifiant une certaine condition. L’instruction suivante permettait de créer une table `eleves_nes_mars` contenant les lignes des élèves nés en mars.

In [4]:
eleves_nes_mars = [e for e in eleves if e['mois'] == 3]
eleves_nes_mars

[{'prénom': 'Aïris',
  'jour': 24,
  'mois': 3,
  'année': 2005,
  'sexe': 'F',
  'groupe': 2,
  'projet': 'apprendre à piloter une Formule 1'},
 {'prénom': 'Jade',
  'jour': 14,
  'mois': 3,
  'année': 2005,
  'sexe': 'F',
  'groupe': 2,
  'projet': 'développer une application'},
 {'prénom': 'Kylian',
  'jour': 13,
  'mois': 3,
  'année': 2005,
  'sexe': 'G',
  'groupe': 2,
  'projet': 'battre Usain Bolt'}]

En SQL, il est possible de préciser la condition de sélection en l’écrivant juste après le mot clé `WHERE` comme ci-dessous.

```sql
SELECT * FROM Eleve WHERE mois = 3;
```

<table>
    <tbody><tr>
        <th>id_eleve</th>
        <th>prenom</th>
        <th>jour</th>
        <th>mois</th>
        <th>annee</th>
        <th>sexe</th>
        <th>groupe</th>
        <th>projet</th>
    </tr>
    <tr>
        <td>10</td>
        <td>Aïris</td>
        <td>24</td>
        <td>3</td>
        <td>2005</td>
        <td>F</td>
        <td>2</td>
        <td>apprendre à piloter une Formule 1</td>
    </tr>
    <tr>
        <td>22</td>
        <td>Jade</td>
        <td>14</td>
        <td>3</td>
        <td>2005</td>
        <td>F</td>
        <td>2</td>
        <td>développer une application</td>
    </tr>
    <tr>
        <td>38</td>
        <td>Kylian</td>
        <td>13</td>
        <td>3</td>
        <td>2005</td>
        <td>G</td>
        <td>2</td>
        <td>battre Usain Bolt</td>
    </tr>
</tbody></table>

**Q3** : Écrivez et testez une requête SQL permettant d’afficher les élèves nés en 2005.

*Réponse* :

```sql


```

**Q4** : Écrivez et testez une requête SQL permettant d’afficher les filles nées en juillet 2005.

> On peut utiliser les opérateurs `AND` ou `OR` pour combiner les conditions de sélection.

*Réponse* :

```sql



```

# Sélectionner des lignes et des colonnes

**Rappel** : L’instruction suivante permettait de créer une table `prenoms_projets_des_filles` contenant les prénoms et les projets des filles de la classe.

In [5]:
prenoms_projets_des_filles = [{'prénom': e['prénom'], 'projet': e['projet']} for e in eleves if e['sexe'] == 'F']
prenoms_projets_des_filles

[{'prénom': 'Loona', 'projet': 'être heureuse'},
 {'prénom': 'Sania', 'projet': 'gagner au loto'},
 {'prénom': 'Aïris', 'projet': 'apprendre à piloter une Formule 1'},
 {'prénom': 'Nolwenn', 'projet': 'jouer dans le prochain James Bond'},
 {'prénom': 'Jade', 'projet': 'développer une application'},
 {'prénom': 'Agathe', 'projet': "devenir championne du monde d'échecs"},
 {'prénom': 'Maé', 'projet': 'enregistrer un album'},
 {'prénom': 'Inès', 'projet': 'battre le record du monde du marathon'}]

En SQL, pour combiner les les sélections sur les lignes et les projections sur les colonnes, il suffit de préciser les attributs de projection après le `SELECT` et préciser la condition de sélection après le `WHERE`.

Par exemple, la requête

```sql
SELECT prenom, projet FROM Eleve WHERE sexe="F";
```

permet d'afficher une table contenant les prénoms et les projets des filles de la classe :

<table>
    <tbody><tr>
        <th>prenom</th>
        <th>projet</th>
    </tr>
    <tr>
        <td>Loona</td>
        <td>être heureuse</td>
    </tr>
    <tr>
        <td>Sania</td>
        <td>gagner au loto</td>
    </tr>
    <tr>
        <td>Aïris</td>
        <td>apprendre à piloter une Formule 1</td>
    </tr>
    <tr>
        <td>Nolwenn</td>
        <td>jouer dans le prochain James Bond</td>
    </tr>
    <tr>
        <td>Jade</td>
        <td>développer une application</td>
    </tr>
    <tr>
        <td>Agathe</td>
        <td>devenir championne du monde d'échecs</td>
    </tr>
    <tr>
        <td>Maé</td>
        <td>enregistrer un album</td>
    </tr>
    <tr>
        <td>Inès</td>
        <td>battre le record du monde du marathon</td>
    </tr>
</tbody></table>

**Q5** : Écrivez et testez une requête SQL permettant d’afficher les prénoms des élèves nés en avril 2005.

*Réponse* :

```sql



```

**Q6**: Écrivez et testez une requête SQL permettant d’afficher les id, prénoms et projets des élèves nés les six derniers mois de l’année 2005.

*Réponse* :

```sql



```

# Trier les résultats avec ORDER BY

La commande `ORDER BY` permet de trier les résultats d’une requête en précisant juste après sur quel attribut le tri doit se faire.

Par exemple, la requête

```sql
SELECT prenom, annee FROM Eleve ORDER BY prenom ASC;
```

permet de trier le résultat de la requête `SELECT prenom, annee FROM Eleves` selon les prénoms des élèves, ici selon l’ordre alphabétique grâce à `ASC` (« ascendant », du plus petit au plus grand). 

>Il suffirait de remplacer `ASC` par `DESC` (« descendant ») pour que le tri se fasse dans le sens inverse.

**Q7** Écrivez et testez une requête SQL permettant d’afficher les prénoms et l’année de naissance des élèves, le résultat étant trié par ordre croissant d’année de naissance.

*Réponse* :

```sql


```

**Q8** : Écrivez et testez une requête SQL permettant d’afficher, du plus jeune au moins jeune, les prénoms des élèves nés en novembre 2005.

> On peut combiner les clauses `WHERE` et `ORDER BY`

*Réponse* :

```sql



```

# Quelques fonctions de calculs

Il est possible d'utiliser des fonctions de calculs en SQL. En voici quelques unes.

## Compter le nombre de tuples : `COUNT(*)`

Donnons tout de suite deux exemples.

La requête SQL suivante permet de compter le nombre d’élèves de Première NSI.

```sql
SELECT COUNT(*) AS nbEleves FROM Eleve;
```

<table>
    <tbody><tr>
        <th>nbEleves</th>
    </tr>
    <tr>
        <td>38</td>
    </tr>
</tbody></table>

La requête SQL suivante permet de compter le nombre de garçons de la classe.

```sql
SELECT COUNT(*) AS nbGarcons FROM Eleve WHERE sexe = "G";
```

<table>
    <tbody><tr>
        <th>nbGarcons</th>
    </tr>
    <tr>
        <td>30</td>
    </tr>
</tbody></table>

**Analyse de la deuxième requête** :

* On sélectionne les tuples de la table `Eleve` correspondant à des garçons grâce à l’instruction `FROM Eleves WHERE sexe="G"`
* L’instruction `COUNT(*)` permet de compter *tous* les tuples sélectionnés 
* L’ajout de `AS nbGarcons` permet de nommer le résultat. Cette astuce est optionnelle mais est particulièrement utile pour faciliter la lecture des requêtes.

**Q9** : Écrivez une requête SQL permettant de compter le nombre d’élèves du groupe 1 de NSI.

*Réponse* :

```sql



```

**Q10** : Écrivez une requête SQL permettant de compter le nombre d’élèves nés en 2005.

*Réponse* :

```sql



```

**Q11** : Écrivez une requête SQL permettant de compter le nombre d’élèves nés en février.

*Réponse* :

```sql



```

## Compter le nombre de valeurs distinctes d'un attribut

La requête 

```sql
SELECT annee FROM Eleve;
```

va afficher les années de naissance de chacun des 16 élèves (à savoir 2005, 2005, 2005, …, 2007, ..., 2005, 2004, ..., 2005)

L’utilisation d’un `DISTINCT` permet d’éviter les redondances dans les résultats affichées. Ainsi, l’instruction

```sql
SELECT DISTINCT annee FROM Eleve;
```

ne va afficher que les années de naissance distinctes des élèves (à savoir 2004, 2005, 2006, 2007). N’hésitez pas à tester ces deux requêtes.

Pour compter le nombre d’années de naissance distinctes des élèves de la classe, il suffit d’ajouter un `COUNT` comme suit :

```sql
SELECT COUNT(DISTINCT annee) AS nbAnneesDistinctes FROM Eleve;
```

**Q12** : Écrivez une requête SQL permettant de compter le nombre de mois de naissances différents des élèves de la classe.

*Réponse* :

```sql



```

## La fonction `AVG()`

La fonction d'agrégation `AVG()` (de l'anglais, _average_ signifiant "moyenne") dans le langage SQL permet de calculer une valeur moyenne d'un ensemble de valeurs numériques.

Par exemple, la requête

```sql
SELECT AVG(annee) AS anneeMoyenne FROM Eleve;
```

permet de calculer l’année moyenne de naissance des élèves de la classe.

<table>
    <tbody><tr>
        <th>anneeMoyenne</th>
    </tr>
    <tr>
        <td>2003.857142857143</td>
    </tr>
</tbody></table>

**Q13** : Écrivez une requête SQL permettant de calculer l’âge moyen des élèves de la classe (en 2022). Ce résultat sera nommé `ageMoyen`.

*Réponse* :

```sql



```

# Bilan

* Pour interroger une base de données, on doit écrire des requêtes dans le langage SQL via un logiciel de type SGBD.
* Nous avions ici une base de données formée d'une seule table, ce qui n'est pas souvent le cas. Ainsi, vous découvrirez d'autres fonctionnalités du langage SQL dans la suite de ce chapitre où nous travaillerons aussi sur des bases de données formées de plusieurs tables.

---
Germain BECKER, Sébastien Point, Lycée Mounier, ANGERS

Ressource éducative libre distribuée sous [Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International](http://creativecommons.org/licenses/by-nc-sa/4.0/) 

![Licence Creative Commons](https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png)